<div ng-switch="p.action">

    <div class="row" ng-if="p.action == 'children' || p.action == 'responsible'">
        <div ng-switch-when="children" class="col-md-10">
            <h4 ng-bind="p.lang.addNewChild"></h4>
            <form name="childForm" ng-submit="p.save('children', childForm)">
                <magic-form form-ctrl="p.anagraForm" table-name="V_ANAGRA_MINORI" model="p.anagra.children" options="{ itemsPerRow: 2 }"></magic-form>
                <div ng-if="childForm.$invalid"><div class="label label-danger" ng-bind="p.lang.checkForErrors"></div><div style="height: 10px;"></div></div>

                <label ng-bind="p.lang.problematiche"></label>
                <ui-select multiple ng-model="p.selectedProblems" theme="bootstrap" ng-disabled="disabled" style="width: 100%">
                    <ui-select-match>{{$item.T_TIPPRO_DESCRIZIONE}}</ui-select-match>
                    <ui-select-choices repeat="prob.T_TIPPRO_ID as prob in p.allProblems | propsFilter: {T_TIPPRO_DESCRIZIONE: $select.search}">
                        <div ng-bind="prob.T_TIPPRO_DESCRIZIONE"></div>
                    </ui-select-choices>
                </ui-select>
                <div style="height: 20px;"></div>

                <button ng-show="p.anagra.children.ANAGRA_AUT_DATI_PERSONALI" class="btn btn-default" ng-bind="p.lang.save"></button>
                <div class="btn btn-default" ng-bind="p.lang.back" ng-click="p.resetAction()"></div>
                <div class="btn btn-default" ng-bind="p.lang.reset" ng-click="p.resetAnagra('children')"></div>
            </form>
            <div style="height: 10px;"></div>
        </div>

        <div ng-switch-when="responsible" class="col-md-10">
            <h4 ng-bind="p.lang.addNewResponsible"></h4>
            <form name="responsibleForm" ng-submit="p.save('responsible', responsibleForm)">
                <magic-form table-name="V_ANAGRA_RESPONSABILI" model="p.anagra.responsible" options="{ itemsPerRow: 2 }"></magic-form>
                <div ng-if="responsibleForm.$invalid"><div class="label label-danger" ng-bind="p.lang.checkForErrors"></div><div style="height: 10px;"></div></div>

                <label ng-bind="p.lang.tessere"></label>
                <ui-select multiple ng-model="p.selectedTessere" theme="bootstrap" ng-disabled="disabled" style="width: 100%">
                    <ui-select-match>{{$item.TESRES_DESCRIZIONE}}</ui-select-match>
                    <ui-select-choices repeat="tessera.TESRES_ID as tessera in p.allTessere | propsFilter: {TESRES_DESCRIZIONE: $select.search}">
                        <div ng-bind="tessera.TESRES_DESCRIZIONE"></div>
                    </ui-select-choices>
                </ui-select>
                <div style="height: 20px;"></div>

                <button ng-show="p.anagra.responsible.ANAGRA_AUT_DATI_PERSONALI" class="btn btn-default" ng-bind="p.lang.save"></button>
                <div class="btn btn-default" ng-bind="p.lang.back" ng-click="p.resetAction()"></div>
                <div class="btn btn-default" ng-bind="p.lang.reset" ng-click="p.resetAnagra('responsible')"></div>
            </form>
            <div style="height: 10px;"></div>
        </div>

        <div class="col-md-2">
            <div class="btn btn-default"
                 style="width: 100%; margin-bottom: 5px; overflow: hidden; text-overflow: ellipsis;"
                 ng-repeat="person in p.peopleStore"
                 ng-click="p.anagra[p.action] = p.extend(p.peopleStore[$index])"
                 title="{{person.ANAGRA_NOME}} - {{person.ANAGRA_COGNOME}} - {{person.ANAGRA_INDIRIZZO}}">
                {{person.ANAGRA_NOME}} - {{person.ANAGRA_COGNOME}} <br /> {{person.ANAGRA_INDIRIZZO}}
            </div>
        </div>
    </div>


    <div ng-switch-default>
        <div class="form-inline row">
            <div class="form-group col-md-3">
                <label ng-bind="p.lang.project"></label>
                <select class="form-control pull-right" ng-change="p.saveProjectInSession()"
                        ng-model="p.checkInData.project"
                        ng-options="d.PROGET_ID as d.PROGET_DESCRIZIONE for d in p.projectData | unique: 'PROGET_ID'"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2 ng-bind="p.lang.searchResults"></h2>
                <div class="row">
                    <div class="col-md-4">
                        <h4 ng-bind="p.lang.children"></h4>
                    </div>
                    <div class="col-md-1" ng-bind-html="p.spinner.children">
                    </div>
                    <div class="col-md-1">
                        <button ng-click="p.search('children')"
                                class="btn btn-primary">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" ng-keyup="p.search('children', $event)" placeholder="{{p.lang.search + ' (' + p.lang.pressEnter + ')'}}" ng-model="p.searchValue.children" />
                    </div>
                    <div class="col-md-12" ng-if="p.searchResult.children.length">
                        <children-table lang="p.lang" select-label="{{p.lang.select}}" data="p.searchResult.children" project="p.getProjectById(p.checkInData.project)" on-select="p.add('children', selectedElement)"></children-table>
                    </div>
                </div>

                <div class="row" ng-if="p.responsibleHistory.length">
                    <div class="col-md-12">
                        <h4 ng-bind="p.lang.responsibleHistory"></h4>
                        <responsible-table lang="p.lang" select-label="{{p.lang.select}}" data="p.responsibleHistory" on-select="p.add('responsible', selectedElement)" show-relation="true"></responsible-table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <h4 ng-bind="p.lang.responsible"></h4>
                    </div>
                    <div class="col-md-1" ng-bind-html="p.spinner.responsible"></div>
                    <div class="col-md-1">
                        <button ng-click="p.search('responsible')"
                                class="btn btn-primary">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" ng-keyup="p.search('responsible', $event)" placeholder="{{p.lang.search + ' (' + p.lang.pressEnter + ')'}}" ng-model="p.searchValue.responsible" />
                    </div>
                    <div class="col-md-12" ng-if="p.searchResult.responsible.length">
                        <responsible-table lang="p.lang" select-label="{{p.lang.select}}" data="p.searchResult.responsible" on-select="p.add('responsible', selectedElement)"></responsible-table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2 ng-bind="p.lang.prenotationData"></h2>
                <div>
                    <h4 style="display: inline-block;width: 25%;" ng-bind="p.lang.children"></h4>
                    <children-table lang="p.lang" ng-if="p.checkInData.children.length" select-label="{{p.lang.remove}}" data="p.checkInData.children" on-select="p.remove('children', selectedElement)" copy="p"></children-table>
                    <div class="btn btn-default" ng-click="p.addNew('children')" ng-bind="p.lang.addNewChild"></div>
                </div>
                <div ng-if="p.checkInData.children.length" style="height: 30px;"></div>
                <div>
                    <h4 style="display: inline-block;width: 25%;" ng-bind="p.lang.responsible"></h4>
                    <responsible-table lang="p.lang" ng-if="p.checkInData.responsible.length" select-label="{{p.lang.remove}}" data="p.checkInData.responsible" on-select="p.remove('responsible', selectedElement)" show-relation="true" copy="p"></responsible-table>
                    <div class="btn btn-default" ng-click="p.addNew('responsible')" ng-bind="p.lang.addNewResponsible"></div>
                </div>
                <!--insert table here-->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div style="height: 10px;"></div>
                <div class="form-inline angularstrap">
                    <div class="form-group">
                        <h2 ng-bind="p.lang.interval" style="display: inline-block"></h2>
                    </div>
                    <div class="form-group" style="margin-top: 10px; margin-left: 10px">
                        <label ng-bind="p.lang.dayFrom"></label>
                        <input type="text" class="form-control" ng-model="p.searchPeriod.from" bs-datepicker model-date-format="yyyy-MM-dd" date-type="string" />
                    </div>
                    <div class="form-group" style="margin-top: 10px;">
                        <label ng-bind="p.lang.dayTo"></label>
                        <input type="text" class="form-control" ng-model="p.searchPeriod.to" bs-datepicker model-date-format="yyyy-MM-dd" date-type="string" />
                    </div>
                </div>
                <div class="form-group">
                    <label ng-bind="p.lang.venue"></label>
                    <ui-select multiple ng-model="p.selectedVenues" theme="bootstrap" ng-disabled="disabled">
                        <ui-select-match>{{$item.ANASED_DESCRIZIONE}}</ui-select-match>
                        <ui-select-choices repeat="venue.ANASED_ID as venue in p.projectData | filter: {PROGET_ID: p.checkInData.project} | unique: 'ANASED_ID' | propsFilter: {ANASED_DESCRIZIONE: $select.search}">
                            <div ng-bind="venue.ANASED_DESCRIZIONE"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <div class="btn btn-default" ng-bind="p.lang.search" ng-click="p.searchTimetable()"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped" ng-show="p.timetable && p.timetable.length">
                    <thead>
                        <tr>
                            <td ng-bind="p.lang.dayFrom"></td>
                            <td ng-bind="p.lang.dayTo"></td>
                            <td ng-bind="p.lang.venue"></td>
                            <td ng-bind="p.lang.totReservation"></td><!--Posti occupati-->
                            <td ng-bind="p.lang.approvedPrenotation"></td><!--Posti occupati-->
                            <td ng-bind="p.lang.maxCapacity"></td><!--Posti totali-->
                            <td ng-bind="p.lang.selPeriod"></td><!--Seleziona periodo-->
                            <td></td>
                        </tr>
                    </thead>
                    <tr ng-repeat="timespan in p.timetable" ng-class="p.getHighlightColor(timespan.SEDCAL_CAP_RESIDUA)">
                        <td ng-bind="timespan.SEDCAL_DATA_INIZIO | date: 'shortDate'"></td>
                        <td ng-bind="timespan.SEDCAL_DATA_FINE | date: 'shortDate'"></td>
                        <td ng-bind="timespan.ANASED_DESCRIZIONE"></td>
                        <td ng-bind="timespan.PRENOT_NUM_PERSONE"></td>
                        <td ng-bind="timespan.PRENOT_APPROVATE"></td>
                        <td ng-bind="timespan.SEDCAL_CAPACITA_MAX"></td>
                        <td><input type="checkbox" ng-model="p.checkedPeriods[timespan.SEDCAL_ID]" /></td>
                        <td>
                            <p ng-show="timespan.SEDCAL_CAPACITA_MAX < timespan.PRENOT_NUM_PERSONE" ng-click="p.getOverbookedChild(timespan.PROGET_ID, timespan.ANASED_ID, timespan.SEDCAL_DATA_INIZIO, timespan.SEDCAL_DATA_FINE, $event)" style="cursor: pointer">Lista di attesa  ({{timespan.LISTA_DI_ATTESA}})</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div ng-if="!p.disableButtons && p.isDataComplete()" ng-bind="p.lang.book" class="btn btn-default pull-right" ng-click="p.savePrenotation()" style="margin-left:10px"></div>
        <div ng-bind="p.lang.reset" class="btn btn-default pull-right" ng-click="p.resetCheckInData(); style="margin-left:10px""></div>
        <div class="row" ng-if="p.message" style="clear:both;">
            <div style="height: 20px;"></div>
            <div class="col-md-12">
                <div ng-bind="p.message" class="label label-{{p.messageType}}"></div>
            </div>
        </div>
        <div style="height: 30px;"></div>
    </div>
</div>
