if exists (select * from sys.objects where object_id = object_id (N'[dbo].[Magic_SolveVsbltyQueries]') AND type in (N'P'))
   drop procedure  [dbo].[Magic_SolveVsbltyQueries]
go
--D.T 17/11/2021 added replacement of new parameters config and target catalogue  {CONFIG_CTLG} {TARGET_CTLG}
CREATE Procedure [dbo].[Magic_SolveVsbltyQueries](@xmlInput xml,@count int output)
as
--declare @p1 xml
--set @p1=convert(xml,N'<SQLP><P parameter="10;109" querycode="VISIBLEGRIDS"/><SESSIONVARS ApplicationInstanceName="dev" ApplicationDomain="dev.reftree.it" MagicDBCatalogue="refTree_dev" TargetDBCatalogue="refTree_dev"/></SQLP>')
--declare @p2 int
--set @p2=0
--exec dbo.Magic_SolveVsbltyQueries @xmlInput=@p1,@count=@p2 output
--select @p2

declare @sqlstmnt varchar(max)
declare @parameter varchar(200) = @xmlInput.value('(/SQLP/P/@parameter)[1]','varchar(200)');
declare @querycode varchar(200) = @xmlInput.value('(/SQLP/P/@querycode)[1]','varchar(200)');
declare @config_catalogue varchar(500) =  @xmlInput.value('(/SQLP/SESSIONVARS/@MagicDBCatalogue)[1]','varchar(500)');
declare @target_catalogue varchar(500) =  @xmlInput.value('(/SQLP/SESSIONVARS/@TargetDBCatalogue)[1]','varchar(500)');

set @sqlstmnt = (select Magic_VsbltyQuery from dbo.Magic_VsbltyQueries where Magic_VsbltyQueryCode  = @querycode);

-- split par with ; 
create table #tab (id int IDENTITY(1,1),field varchar(1000))

insert into #tab 
select * from dbo.fnParseStringOneSeparator(@parameter,';');


declare @par1 varchar(1000) = (select TOP 1 field from #tab where id=1) ;
declare @par2 varchar(1000) = (select TOP 1 field from #tab where id=2) ;
declare @par3 varchar(1000) = (select TOP 1 field from #tab where id=3) ;
declare @par4 varchar(1000) = (select TOP 1 field from #tab where id=4) ;
declare @par5 varchar(1000) = (select TOP 1 field from #tab where id=5) ;
declare @par6 varchar(1000) = (select TOP 1 field from #tab where id=6) ;
declare @par7 varchar(1000) = (select TOP 1 field from #tab where id=7) ;
declare @par8 varchar(1000) = (select TOP 1 field from #tab where id=8) ;
declare @par9 varchar(1000) = (select TOP 1 field from #tab where id=9) ;
declare @par10 varchar(1000) = (select TOP 1 field from #tab where id=10) ;

set @sqlstmnt = REPLACE(@sqlstmnt,'{0}',@par1);
if (isnull(@par2,'')!='')
	set @sqlstmnt = REPLACE(@sqlstmnt,'{1}',@par2);
else 
  set @sqlstmnt = REPLACE(@sqlstmnt,'{1}','null');
if (isnull(@par3,'')!='')
	set @sqlstmnt = REPLACE(@sqlstmnt,'{2}',@par3);
	else 
  set @sqlstmnt = REPLACE(@sqlstmnt,'{2}','null');
if (isnull(@par4,'')!='')
	set @sqlstmnt = REPLACE(@sqlstmnt,'{3}',@par4);
	else 
  set @sqlstmnt = REPLACE(@sqlstmnt,'{3}','null');
if (isnull(@par5,'')!='')
	set @sqlstmnt = REPLACE(@sqlstmnt,'{4}',@par5);
	else 
  set @sqlstmnt = REPLACE(@sqlstmnt,'{4}','null');
if (isnull(@par6,'')!='')
    set @sqlstmnt = REPLACE(@sqlstmnt,'{5}',@par6);
	else 
  set @sqlstmnt = REPLACE(@sqlstmnt,'{5}','null');
if (isnull(@par7,'')!='')
    set @sqlstmnt = REPLACE(@sqlstmnt,'{6}',@par7);
	else 
  set @sqlstmnt = REPLACE(@sqlstmnt,'{6}','null');
if (isnull(@par8,'')!='')
	set @sqlstmnt = REPLACE(@sqlstmnt,'{7}',@par8);
	else 
  set @sqlstmnt = REPLACE(@sqlstmnt,'{7}','null');
if  (isnull(@par9,'')!='')
	set @sqlstmnt = REPLACE(@sqlstmnt,'{8}',@par9);
	else 
  set @sqlstmnt = REPLACE(@sqlstmnt,'{8}','null');
if (isnull(@par10,'')!='')
    set @sqlstmnt = REPLACE(@sqlstmnt,'{9}',@par10);
	else 
  set @sqlstmnt = REPLACE(@sqlstmnt,'{9}','null');

if (isnull(@config_catalogue,'')!='')
 set @sqlstmnt = REPLACE(@sqlstmnt,'{CONFIG_CTLG}',@config_catalogue);
ELSE --Version 54 compatibility very bad stuff... 
  set @sqlstmnt = REPLACE(@sqlstmnt,'{CONFIG_CTLG}.','');		

if (isnull(@target_catalogue,'')!='')
 set @sqlstmnt = REPLACE(@sqlstmnt,'{TARGET_CTLG}',@target_catalogue);
ELSE --Version 54 compatibility very bad stuff... 
  set @sqlstmnt = REPLACE(@sqlstmnt,'{TARGET_CTLG}.','');	

print (@sqlstmnt)
exec (@sqlstmnt)

set @count = 0

RETURN