<div id="enpamModal" class="modal fade" style="display:none;">
    <div class="modal-dialog" style="width: 60%">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <h4 class="modal-title"><b>INFORMATIVA SUL TRATTAMENTO DEI DATI PERSONALI</b></h4>
            </div>
            <div class="modal-body">
                <p>Al fine di porre in essere le attivit&agrave; di messa a reddito del proprio patrimonio immobiliare,
                    <strong>Antirion SGR S.p.A.</strong>, con sede legale in Milano, alla via Durini, 9 (in seguito,
                    anche il &ldquo;<strong>Titolare del Trattamento</strong>&rdquo;) entra in possesso dei dati
                    personali dei propri fornitori.</p>
                <p>Premesso che si definisce &lsquo;trattamento&rsquo; qualsiasi operazione, ivi inclusa la semplice
                    raccolta e/o la conservazione, di dati personali di una qualsiasi persona fisica (in seguito,
                    &ldquo;<strong>Interessato</strong>&rdquo;), che si definisce &lsquo;titolare del trattamento&rsquo;
                    chi determina le finalit&agrave; e i mezzi del trattamento e che per &lsquo;dato personale&rsquo; si
                    intende qualunque informazione relativa a persona fisica, identificata o identificabile anche
                    indirettamente mediante riferimento a qualsiasi altra informazione, i dati personali trattati sono
                    quelli ricevuti da Antirion SGR S.p.A. in occasione della sottoscrizione di ogni singolo contratto
                    di fornitura.</p>
                <ol>
                    <li><u>Titolare del trattamento</u></li>
                </ol>
                <p>Il Titolare del trattamento &egrave; Antirion SGR Sp.A., con sede legale in Milano, alla via Durini,
                    9, e-mail &lsquo;privacy @antirion.it&rsquo;, telefono +39 02 57 581.</p>
                <p>E&rsquo; possibile contattare gratuitamente il Titolare del Trattamento scrivendo all&rsquo;indirizzo
                    e-mail &lsquo;privacy @antirion.it&rsquo;, oppure inviando una raccomandata con ricevuta di ritorno
                    presso la sede legale, come sopra individuata.</p>
                <ol start="2">
                    <li><u>Finalit&agrave; del trattamento</u></li>
                </ol>
                <p>I dati saranno utilizzati per l&rsquo;esecuzione dei servizi derivanti dalla conclusione di ogni
                    singolo contratto con un fornitore, nonch&eacute; per esecuzione degli obblighi previsti dalla
                    legge, da un regolamento o dalla normativa comunitaria, esercizio di attivit&agrave; amministrative,
                    nonch&eacute; esercizio dei diritti di Antirion in sede giudiziaria, prevenzione e repressione di
                    attivit&agrave; illecite, ottemperanza a specifiche richieste dall&rsquo;autorit&agrave; giudiziaria
                    e/o di pubblica sicurezza.</p>
                <p>I dati forniti non saranno in alcun caso trattati per alcuna finalit&agrave; di marketing e/o di
                    profilazione.</p>
                <ol start="3">
                    <li><u>Natura obbligatoria/facoltativa del conferimento dei dati</u></li>
                </ol>
                <p>Il conferimento di dati &egrave; necessario per le finalit&agrave; di cui al precedente punto 2., in
                    quanto strettamente funzionale all&rsquo;attivazione di ogni contratto, nonch&eacute; per
                    l&rsquo;esecuzione degli obblighi di legge.</p>
                <p>L&rsquo;eventuale rifiuto di fornire i dati comporta l&rsquo;impossibilit&agrave; per Antirion SGR
                    S.p.A. di attivare alcun contratto.</p>
                <ol start="4">
                    <li><u>Categorie di soggetti ai quali potranno essere comunicati i dati</u></li>
                </ol>
                <p>I dati non saranno accessibili a terzi al di fuori dei collaboratori interni e/o dipendenti di
                    Antirion SGR S.p.A. e ad eccezione del Responsabile del trattamento, come sopra individuato,
                    incaricato esclusivamente di raccogliere i dati personali dei sottoscrittori dei contratti di
                    locazione, ovvero di affitto di ramo d&rsquo;azienda, per gli immobili di propriet&agrave; di
                    Antirion SGR S.p.A.</p>
                <p>Ove necessario, i dati saranno accessibili all&rsquo;autorit&agrave; giudiziaria o alla polizia
                    giudiziaria in caso di specifica richiesta.</p>
                <p>Ove necessario o richiesto da leggi, regolamenti, normativa comunitaria, provvedimenti di giudici,
                    arbitri o autorit&agrave; pubbliche, nonch&eacute; per l&rsquo;esecuzione degli obblighi
                    contrattuali (ad es. Enti Pubblici, Autorit&agrave; di Controllo, Istituti Bancari ecc.), i dati
                    personali potranno essere trasmessi ai soggetti cui la comunicazione &egrave; prevista.</p>
                <p>I dati potranno comunque essere comunicati a <em>internet provider</em>, <em>web administrator</em>,
                    societ&agrave; che svolgono attivit&agrave; di <em>data entry</em> e postalizzazione.</p>
                <p>I dati non saranno soggetti ad ulteriore diffusione.</p>
                <ol start="5">
                    <li><u>Modalit&agrave; del trattamento</u></li>
                </ol>
                <p>Antirion SGR S.p.A., per il tramite dei responsabili, svolger&agrave; operazioni di raccolta,
                    registrazione, conservazione e archiviazione dei dati personali mediante strumentali manuali,
                    informatici e telematici con logiche strettamente correlate alle finalit&agrave; stesse e, comunque,
                    in modo da garantire la sicurezza e la riservatezza dei dati raccolti.</p>
                <p>La sicurezza dei dati e della loro trasmissione &egrave; garantita da adeguati sistemi di protezione
                    quali antivirus, anti-<em>ramsonware</em>, <em>firewall</em> e <em>password</em> d&rsquo;accesso, e
                    da misure di impedimento fisiche atte a selezionare ed impedire l&rsquo;accesso ai locali ove gli
                    stessi sono custoditi.</p>
                <p>I dati potranno essere trattati con la collaborazione di soggetti espressamente nominati responsabili
                    del trattamento.</p>
                <ol start="6">
                    <li><u>Base giuridica del trattamento</u></li>
                </ol>
                <p>La base giuridica del trattamento &egrave; costituita dall&rsquo;adempimento di un obbligo
                    contrattuale e dalle disposizioni di legge.</p>
                <p>Pertanto, ai sensi dell&rsquo;articolo 6 del Regolamento Europeo 679/2016, il consenso non &egrave;
                    necessario ai fini del presente trattamento.</p>
                <ol start="7">
                    <li><u>Tempi di conservazione dei dati</u></li>
                </ol>
                <p>Il trattamento dei dati personali con riferimento alla finalit&agrave; di cui al punto 2.,
                    avr&agrave; una durata pari a quella necessaria per l&rsquo;esecuzione degli obblighi in capo ad
                    Antirion SGR S.p.A. derivanti dei servizi richiesti, a cui andr&agrave; sommato l&rsquo;ulteriore
                    periodo normativamente previsto in ottemperanza agli obblighi di natura civilistica, fiscale e
                    tributaria vigenti.&nbsp;</p>
                <p>Al termine del periodo di trattamento dei dati, essi saranno cancellati, ovvero resi anonimi in modo
                    permanente.</p>
                <ol start="8">
                    <li><u>Diritti dell&rsquo;Interessato</u></li>
                </ol>
                <p>Tra i diritti riconosciuti all&rsquo;Interessato, rientrano i seguenti:</p>
                <ul>
                    <li>chiedere al Titolare del trattamento l'accesso ai propri dati personali ed alle informazioni
                        relative agli stessi; la rettifica dei dati inesatti o l'integrazione di quelli incompleti; la
                        cancellazione dei dati personali che lo riguardano (al verificarsi di una delle condizioni
                        indicate nell'art. 17, paragrafo 1 del Regolamento e nel rispetto delle eccezioni previste nel
                        paragrafo 3 dello stesso articolo); la limitazione del trattamento dei dati personali conferiti
                        (al ricorrere di una delle ipotesi indicate nell'art. 18, paragrafo 1 del GDPR);</li>
                    <li>richiedere ed ottenere dal Titolare del trattamento - nelle ipotesi in cui la base giuridica del
                        trattamento sia il contratto o il consenso, e lo stesso sia effettuato con mezzi automatizzati -
                        i dati personali conferiti in un formato strutturato e leggibile da dispositivo automatico,
                        anche al fine di comunicare tali dati ad un altro titolare del trattamento (c.d. diritto alla
                        portabilit&agrave; dei dati personali);</li>
                    <li>opporsi in qualsiasi momento al trattamento dei dati personali conferiti al ricorrere di
                        situazioni particolari che riguardano l&rsquo;Interessato;</li>
                    <li>revocare in qualsiasi momento il consenso prestato, limitatamente alle ipotesi in cui il
                        trattamento sia basato sul consenso per una o pi&ugrave; specifiche finalit&agrave; e riguardi
                        dati personali comuni (ad esempio data e luogo di nascita o luogo di residenza), oppure
                        particolari categorie di dati (ad esempio dati che rivelano l&rsquo;origine razziale
                        dell&rsquo;Interessato, le sue opinioni politiche, le sue convinzioni religiose, lo stato di
                        salute o la vita sessuale). Il trattamento basato sul consenso ed effettuato antecedentemente
                        alla revoca dello stesso, conserva, comunque, la sua liceit&agrave;;</li>
                    <li>proporre reclamo a un'autorit&agrave; di controllo (Autorit&agrave; Garante per la protezione
                        dei dati personali &ndash; www.garanteprivacy.it).</li>
                </ul>
                <ol start="9">
                    <li><u>Aggiornamenti dell'informativa</u></li>
                </ol>
                <p>La presente informativa &egrave; soggetta a revisioni occasionali. Qualora siano introdotte modifiche
                    al trattamento, Antirion SGR S.p.A. ne dar&agrave; opportuna comunicazione all&rsquo;Interessato.
                    Ove richiesto dalla normativa vigente, l&rsquo;Interessato avr&agrave; facolt&agrave; di conferire
                    il proprio consenso agli eventuali nuovi trattamenti. In caso di rifiuto, i dati
                    dell&rsquo;Interessato non saranno trattati secondo le modifiche contemplate dalla presente
                    informativa.</p>
                <ol start="10">
                    <li><u>Trasferimento all&rsquo;estero</u></li>
                </ol>
                <p>I dati personali dell&rsquo;Interessato non saranno traferiti in Paesi Extra UE.</p>
                <p>Milano, marzo 2021</p>
                <p><strong>Antirion SGR S.p.A.</strong></p>
            </div>
            <div class="modal-footer">
                <p><strong>dichiaro di avere compiuto gli anni 16 e di avere letto l&rsquo;informativa privacy</strong></p>
                <button ng-click="cd.options.closeModal()" type="button" class="btn btn-success">Si, Accetto</button>
                <button ng-click="cd.options.logout()" type="button" class="btn btn-danger">No, Annulla</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <magic-grid ng-init="cd.options.showModal()" id="grid0" gridname="ANTIRION_ALBO"
        kendo-grid-instance="cd.options.kendoGridInstance"></magic-grid>
</div>