<div id="enpamModal" class="modal fade" style="display:none;">
    <div class="modal-dialog" style="width: 50%">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <h4 class="modal-title">Informativa ai sensi dell'articolo 13 del decreto legislativo 30 giugno 2003, n.
                    196 (codice in materia di protezione dei dati personali)</h4>
            </div>
            <div class="modal-body">
                <p>Ai sensi e per gli effetti del Regolamento UE n. 679/2016
                    (&ldquo;<strong>Regolamento</strong>&rdquo;) e di ogni
                    altra disposizione e/o normativa, nazionale e/o comunitaria, applicabile in materia di protezione
                    dei dati
                    personali, Sorgente Spa,
                    in qualit&agrave;
                    di Titolare del trattamento (&ldquo;<strong>Societ&agrave;</strong>&rdquo; o
                    &ldquo;<strong>Titolare</strong>&rdquo;), informa il fornitore
                    (&ldquo;<strong>Fornitore</strong>&rdquo;) che i dati
                    personali (&ldquo;<strong>Dati</strong>&rdquo;) che verranno forniti in sede di iscrizione
                    all&rsquo;&rdquo;<em>Albo
                        dei fornitori di servizi, forniture e lavori di fiducia di Sorgente S.p.a.</em>&rdquo;
                    (&ldquo;<strong>Albo</strong>&rdquo;) del sito <a
                        href="http://www.sorgentegroup.com">www.sorgentegroup.com</a>
                    (&ldquo;<strong>Sito</strong>&rdquo;), potranno formare oggetto di trattamento nel rispetto di
                    quanto segue.</p>
                <p>&nbsp;</p>
                <ol>
                    <li><strong> </strong><strong>Finalit&agrave; e base giuridica del trattamento</strong></li>
                </ol>
                <p>I Dati personali del Fornitore saranno trattati per:</p>
                <ul>
                    <li>finalit&agrave; connesse e strumentali alla gestione della richiesta del Fornitore di iscrizione
                        all&rsquo;Albo
                        del Sito (e.g. accertamento dei requisiti di idoneit&agrave; economico-finanziaria e
                        tecnico-organizzativa del
                        Fornitore);</li>
                </ul>
                <p>La base giuridica del trattamento dei Dati per il perseguimento di detta finalit&agrave; &egrave;
                    l&rsquo;esecuzione
                    e la corretta gestione del servizio richiesto dal Fornitore.</p>
                <ul>
                    <li>l&rsquo;adempimento di obblighi di legge, di regolamenti, di normative nazionali e/o comunitarie
                        eventualmente
                        applicabili.</li>
                </ul>
                <p>La base giuridica del trattamento dei Dati trattati per questa finalit&agrave; &egrave;
                    l&rsquo;adempimento di
                    obblighi previsti dalla legge e dalle normative applicabili.</p>
                <p>&nbsp;</p>
                <ol start="2">
                    <li><strong> </strong><strong>Natura del conferimento dei dati e conseguenze del mancato
                            conferimento</strong></li>
                </ol>
                <p>Per l&rsquo;esecuzione delle finalit&agrave; di cui ai nn. (i) e (ii) del precedente art. 1, il
                    conferimento dei Dati
                    da parte del Fornitore &egrave; obbligatorio e il rifiuto a fornirli comporta l'impossibilit&agrave;
                    di prendere in
                    carico la richiesta di iscrizione all&rsquo;Albo presentata dal Fornitore.</p>
                <ol start="3">
                    <p>&nbsp;</p>
                    <li><strong> </strong><strong>Categorie di soggetti ai quali i dati possono essere
                            comunicati</strong></li>
                </ol>
                <p>Per le finalit&agrave; illustrate, i Dati potranno essere comunicati:</p>
                <ul>
                    <li>all'Osservatorio per i lavori pubblici e ad altri soggetti pubblici, esclusi gli enti pubblici
                        economici, ogni
                        qualvolta sia prescritto da specifiche disposizioni di legge e/o regolamenti o risulti essere
                        necessario per lo
                        svolgimento delle funzioni istituzionali, quali in particolare il combinato disposto degli
                        articoli 43 e 71 del
                        D.P.R. 28 dicembre 2000, n. 445, al fine di appurare la veridicit&agrave; delle dichiarazioni
                        sostitutive di cui
                        agli articoli 46 e 47 del predetto D.P.R. ;</li>
                    <li>ove necessario, a persone, societ&agrave;, associazioni o studi professionali che prestino
                        servizi o
                        attivit&agrave; di assistenza e consulenza o che forniscano servizi al Titolare, con particolare
                        ma non
                        esclusivo riferimento alle questioni in materia contabile, amministrativa, legale, tributaria e
                        finanziaria;
                    </li>
                    <li>a soggetti cui la facolt&agrave; di accedere ai Dati sia riconosciuta da disposizioni di legge o
                        da disposizioni
                        impartite da autorit&agrave; a ci&ograve; legittimate dalla legge.</li>
                </ul>
                <p>I soggetti appartenenti alle categorie sopra indicate utilizzeranno i Dati in qualit&agrave; di
                    autonomi titolari del
                    trattamento o di responsabili, in quest&rsquo;ultimo caso previo accordo di nomina ai sensi
                    dell&rsquo;art. 28 del
                    Regolamento. La lista dei soggetti, Titolari o Responsabili del trattamento, cui i Dati potranno
                    essere comunicati
                    &egrave; disponibile su richiesta al Titolare.</p>
                <ol start="4">
                    <p>&nbsp;</p>
                    <li><strong> </strong><strong>Periodo di conservazione</strong></li>
                </ol>
                <p>I Dati personali saranno conservati per tutta la durata dell&rsquo;iscrizione del Fornitore
                    all&rsquo;Albo,
                    dopodich&eacute; saranno conservati per l'espletamento di tutti gli eventuali adempimenti connessi o
                    derivanti dalla
                    gestione del rapporto con il Fornitore, anche legati ad obblighi legali e ai termini di prescrizione
                    a tal fine
                    previsti dalla normativa.</p>
                <ol start="5">
                    <p>&nbsp;</p>
                    <li><strong> </strong><strong>Diritti degli interessati</strong></li>
                </ol>
                <p>Il Fornitore potr&agrave; esercitare, nei casi espressamente previsti dal Regolamento, i diritti di
                    cui agli artt. 15
                    e ss. del Regolamento ed in particolare:</p>
                <ul>
                    <li>ottenere la conferma che sia in corso il trattamento dei propri Dati personali e, in tal caso,
                        chiedere al
                        Titolare l&rsquo;accesso alle informazioni relative al trattamento medesimo;</li>
                    <li>chiedere la rettifica dei Dati inesatti o incompleti;</li>
                    <li>chiedere la cancellazione dei Dati;</li>
                    <li>chiedere la limitazione del trattamento dei Dati;</li>
                    <li>ricevere, in un formato strutturato, di uso comune e leggibile da dispositivo automatico (es.
                        <em>pdf</em>), i
                        Dati personali che lo riguardano e trasmetterli ad altro titolare o ottenere la trasmissione
                        diretta da un
                        titolare all&rsquo;altro, se tecnicamente fattibile (c.d. &ldquo;<em>portabilit&agrave; dei
                            dati</em>&rdquo;).
                    </li>
                </ul>
                <p>&nbsp;</p>
                <p>Il Fornitore ha, inoltre, il diritto di opporsi in tutto o in parte, per motivi legittimi, al
                    trattamento dei Dati
                    che lo riguardano.</p>
                <p>L&rsquo;esercizio dei predetti diritti pu&ograve; avvenire inviando una richiesta all&rsquo;indirizzo
                    e-mail del
                    Titolare <span>privacy@sorgente.it</span>.</p>
                <p>Infine, qualora ritenga che il trattamento dei Dati forniti violi la normativa in materia di
                    protezione dei dati
                    personali, il Fornitore ha il diritto di proporre reclamo all&rsquo;Autorit&agrave; Garante per la
                    protezione dei
                    dati personali (<span><a href="http://www.garanteprivacy.it">www.garanteprivacy.it</a></span>).</p>
                <p>&nbsp;</p>
                <p><strong>Il Titolare del trattamento</strong></p>
                <p><strong>&nbsp;</strong></p>
                <p><strong>Sorgente Spa</strong></p>
            </div>
            <div class="modal-footer">
                <button ng-click="cd.options.closeModal()" type="button" class="btn btn-success">Si, Accetto</button>
                <button ng-click="cd.options.logout()" type="button" class="btn btn-danger">No, Annulla</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <magic-grid ng-init="cd.options.showModal()" id="grid0" gridname="SR_CURRENT_SUPPLIER_REGISTRATION"
        kendo-grid-instance="cd.options.kendoGridInstance"></magic-grid>
</div>