<div id="enpamModal" class="modal fade" style="display:none;">
    <div class="modal-dialog" style="width: 60%">
        <div class="modal-content">
            <div class="modal-header">
                <p align="center">
                    <strong>INFORMATIVA PER IL TRATTAMENTO DEI DATI PERSONALI</strong>
                </p>
                <p align="center">
                    <strong></strong>
                </p>
                <p align="center">
                    <em>
                        ai sensi dell’art. 13 e 14 del Regolamento (UE) 2016/679 del
                        Parlamento europeo e del Consiglio in materia di Protezione dei
                        Dati Personali (GDPR)
                    </em>
                </p>
            </div>
            <div class="modal-body">
                <p>
                    “EUR S.p.A.” con sede legale in Largo Virgilio Testa n.23, 00144 Roma,
                    P.IVA 02117131009, C.F. 80045870583<strong>,</strong> in qualità di
                    Titolare del trattamento dei dati personali delle persone fisiche referenti dei
                    soggetti giuridici che presentino domanda per l’iscrizione nell’ <strong>“Elenco</strong>
                    <strong>Fornitori”</strong> (in seguito anche
                    “<strong>Elenco</strong>”) di EUR S.P.A. (in seguito anche “ <strong>Titolare</strong>”), La
                    informa, in qualità di referente
                    persona fisica (es. rappresentante legale, socio unico, mandatario del
                    raggruppamento, etc.) del candidato all’iscrizione in Elenco, ai sensi
                    degli artt.13 e 14 del Regolamento UE n.2016/679 (in seguito anche <strong>“Regolamento”</strong> o
                    “<strong>GDPR</strong>”), che i suoi dati personali inerenti, connessi e/o strumentali all’iscrizione al
                    menzionato Elenco, potranno essere oggetto di trattamento con le
                    modalità e per le finalità seguenti.
                </p>
                <p>
                    <strong>1. Finalità e base giuridica del trattamento</strong>
                </p>
                <p>
                    I Suoi dati personali saranno trattati (per la definizione di <strong>“Trattamento”</strong> si veda
                    l’art. 4, par. 1, n. 2 del
                    Regolamento) per le seguenti finalità:
                </p>
                <p>
                    a) Presa in carico della domanda di iscrizione in Elenco e correlativa
                    gestione del processo di iscrizione;
                </p>
                <p>
                    b) Verifiche sulla effettiva sussistenza dei requisiti generali e
                    speciali dichiarati;
                </p>
                <p>
                    c) Esecuzione degli adempimenti necessari per il coinvolgimento
                    dell’operatore economico in una procedura di selezione e corretta
                    gestione della procedura stessa;
                </p>
                <p>
                    d) Rispetto delle disposizioni normative e regolamentari vigenti in
                    materia civile, amministrativa, fiscale e tributaria, nonché dei
                    provvedimenti emanati dalle competenti autorità;
                </p>
                <p>
                    e) Gestione di procedimenti di Gara che possono vedere eventualmente
                    coinvolta la
                </p>
                <p>
                    Società per la quale si procede all’iscrizione all’Elenco e, in caso di
                    aggiudicazione, per la gestione del rapporto contrattuale in conformità
                    alla normativa vigente;
                </p>
                <p>
                    f) Necessità di difesa di un diritto in giudizio o nelle opportune sedi
                    previste dalle disposizioni normative e regolamentari vigenti.
                </p>
                <p>
                    La base giuridica di tale trattamento dei dati relativamente alle
                    finalità menzionate si identifica nell’ <strong>obbligo di legge</strong> applicabile a EUR S.p.A.
                    in materia
                    di selezione di operatori economici con i quali intraprendere rapporti
                    contrattuali.
                </p>
                <p>
                    <strong>2. Dati personali oggetto di trattamento</strong>
                </p>
                <p>
                    - <strong>Dati comuni: </strong>dati anagrafici, data e luogo di
                    nascita,<strong> </strong>il codice fiscale, l’indirizzo di <strong> </strong>residenza, eventuali
                    dati di contatto (numero di
                    telefono, indirizzo e - mail / pec), gli estremi del profilo
                    professionale, nonché i suoi dati bancari e inerenti la regolarità
                    contributiva e fiscale, del Titolare / Legale Rappresentante dell’
                    dell’impresa/società/associazione/fondazione per la quale si richiede
                    l’iscrizione all’Elenco, dati anagrafici, luogo e data di nascita,
                    l’indirizzo di residenza, Codice Fiscale dei soggetti di cui
                    all’art.80, comma 3 del D.Lgs.n.50/2016 muniti di poteri di
                    rappresentanza, direzione, vigilanza, controllo e dei direttori tecnici
                    della Società.
                </p>

                <p>

                    <strong>
                        Particolari categorie di dati personali ai sensi dell’art.10 del
                        Regolamento
                    </strong>
                    : i dati<strong> </strong>riguardanti condanne penali o reati.
                </p>
                <p>
                    <strong>3. Natura del conferimento</strong>
                </p>
                <p>
                    Le ricordiamo che, con riferimento alla finalità lett. a) del paragrafo
                    1 “<em>Finalità e base</em> <em>giuridica del trattamento” </em>del
                    presente documento, il conferimento dei Suoi Dati è<em> </em>
                    obbligatorio. Un Suo eventuale rifiuto comporta l'impossibilità di
                    prendere in carico la Sua domanda di iscrizione all’Elenco.
                </p>
                <p>
                    In relazione alla finalità lett. b) del paragrafo 1 “ <em>Finalità e base giuridica del
                        trattamento”</em> del presente
                    documento, il conferimento dei Suoi Dati è obbligatorio. Un Suo
                    eventuale rifiuto comporta l'impossibilità per EUR S.p.A. di verificare
                    l’effettiva sussistenza dei requisiti generali e speciali dichiarati.
                </p>
                <p>
                    Con riferimento alla finalità lett. c) del paragrafo 1 “ <em>Finalità e base giuridica del</em>
                    <em>trattamento” </em>del
                    presente documento, il conferimento dei Suoi Dati è obbligatorio. Un <em> </em>Suo eventuale rifiuto
                    comporta l'impossibilità di eseguire
                    gli adempimenti necessari per il coinvolgimento dell’operatore
                    economico in una procedura di selezione e corretta gestione della
                    procedura stessa.
                </p>
                <p>
                    In relazione alla finalità lett. d) del paragrafo 1 “ <em>Finalità e base giuridica del
                        trattamento”</em> del presente
                    documento, il conferimento dei Suoi Dati è obbligatorio. Un Suo
                    eventuale rifiuto comporta l'impossibilità di provvedere al rispetto
                    delle disposizioni normative e regolamentari vigenti in materia civile,
                    amministrativa, fiscale e tributaria, nonché dei provvedimenti emanati
                    dalle competenti autorità.
                </p>
                <p>
                    Con riferimento alla finalità lett. e) del paragrafo 1 “ <em>Finalità e base giuridica del</em>
                    <em>trattamento” </em>del
                    presente documento, il conferimento dei Suoi Dati è obbligatorio. Un <em> </em>Suo eventuale rifiuto
                    comporta l'impossibilità di gestire
                    correttamente, in conformità alla normativa vigente applicabile, i
                    procedimenti di Gara che possono vedere eventualmente coinvolta la
                    Società per la quale si procede all’iscrizione all’Elenco e, in caso di
                    aggiudicazione, di gestire correttamente del rapporto contrattuale in
                    conformità alla normativa vigente.
                </p>
                <p>
                    In relazione alla finalità lett. f) del paragrafo 1 “ <em>Finalità e base giuridica del
                        trattamento”</em> del presente
                    documento, il conferimento dei Suoi Dati è obbligatorio. Un Suo
                    eventuale rifiuto comporta l'impossibilità di provvedere dall’azione o
                    difesa di un diritto in giudizio o nelle opportune sedi previste dalle
                    disposizioni normative e regolamentari vigenti.
                </p>
                <p>
                    <strong>3. </strong>
                    <strong>Tempi di conservazione dei Dati</strong>
                </p>
                <p>
                    Salva la cancellazione dall’Elenco dei Fornitori, i dati forniti
                    saranno conservati per un lasso di tempo non superiore al periodo
                    necessario per il raggiungimento delle finalità indicate al paragrafo 1
                    “<em>Finalità e base giuridica del trattamento”</em> e per il tempo
                    necessario all’adempimento di finalità relative all’adempimento di
                    obblighi normativi in ambito amministrativo-contabile, fiscale e
                    civilistico.
                </p>
                <p>
                    <strong>4. </strong>
                    <strong>Modalità d’uso dei Dati</strong>
                </p>
                <p>
                    Il trattamento dei dati è eseguito con supporti cartacei e strumenti
                    elettronici con misure idonee a garantire la sicurezza e la
                    riservatezza dei dati, volte ad evitarne l'accesso non autorizzato, la
                    perdita o distruzione, nel rispetto di quanto previsto dal Capo II
                    (Principi) e dal Capo IV (Titolare del trattamento e responsabile del
                    trattamento) del Regolamento. I
                </p>
                <p>
                    dati potranno essere trattati da soggetti, interni od esterni,
                    appositamente autorizzati ed impegnati alla riservatezza.
                </p>
                <p>
                    <strong>4. Ambito di circolazione dei Dati</strong>
                </p>
                <p>
                    I dati potranno essere trattati altresì da società terze che svolgono
                    attività per conto del Titolare, nella loro qualità di responsabili
                    esterni del trattamento (a titolo meramente esemplificativo e non
                    esaustivo: istituti di credito, studi professionali, fornitori /
                    consulenti che gestiscono e/o partecipano alla gestione e/o alla
                    manutenzione degli strumenti elettronici e/o telematici da noi
                    utilizzati, società di assicurazione per la prestazione di servizi
                    assicurativi, per i tempi strettamente necessari all’ottimale
                    esecuzione di tale servizio). I Suoi dati personali saranno resi
                    accessibili solo a coloro i quali, all'interno della Società, ne
                    abbiano necessità in relazione all’esercizio della propria mansione o
                    posizione gerarchica. Tali soggetti, saranno opportunamente istruiti al
                    fine di evitare perdite, distruzione, accessi non autorizzati o
                    trattamenti non consentiti dei dati stessi.
                </p>
                <p>
                    Senza il Suo espresso consenso (<em>ex</em> art. 6 lett. b) e c) del
                    Regolamento), il Titolare potrà comunicare i Suoi dati ad organismi di
                    vigilanza, autorità giudiziarie nonché a tutti gli altri soggetti verso
                    i quali la comunicazione sia obbligatoria in base ad un’espressa
                    disposizione di legge.
                </p>
                <p>
                    <strong>5. Diffusione dei Dati</strong>
                </p>
                <p>
                    I Suoi Dati non saranno oggetto di diffusione a soggetti indeterminati.
                </p>
                <p>
                    <strong>6. Trasferimento dei Dati all'estero</strong>
                </p>
                <p>
                    I dati non saranno oggetto di trasferimento al di fuori dell’Unione
                    Europea. Resta in ogni caso inteso che il Titolare, ove si rendesse
                    necessario, avrà facoltà di spostare l’ubicazione dei <em>server</em>
                    in Paesi extra-UE. In tal caso, il Titolare assicura sin d’ora che il
                    trasferimento dei dati extra-UE avverrà in conformità agli artt.44 ss.
                    del Regolamento ed alle disposizioni di legge applicabili stipulando,
                    se necessario, accordi che garantiscano un livello di protezione
                    adeguato.
                </p>
                <p>
                    <strong>7. Titolare e Responsabile della Protezione dei Dati</strong>
                </p>
                <p>
                    Il Titolare del trattamento è EUR S.p.A., con sede legale in Largo
                    Virgilio Testa n.23, 00144 Roma.
                </p>
                <p>
                    La Società ha nominato il Responsabile della Protezione dei Dati (RPD o <em>Data Protection</em>
                    <em>Officer </em>o DPO) ai sensi dell’Articolo
                    37 del<em> </em>GDPR, che potrà essere contattato al seguente<em> </em>
                    indirizzo e-mail: <a href="mailto:dpo@romaeur.it">dpo@romaeur.it.</a> <u></u>
                </p>
                <p>
                    <strong>8. Esercizio dei diritti</strong>
                </p>
                <p>
                    In qualità di Interessato al trattamento dei Dati, La informiamo che ha
                    la possibilità di esercitare i diritti previsti dal GPDR, e
                    precisamente:
                </p>
                <p>
                    a) il diritto, ai sensi dell’art.15, di ottenere la conferma che sia o
                    meno in corso un trattamento di Dati che La riguardano e, in tal caso,
                    di ottenere l’accesso ai Dati e alle seguenti informazioni: i) le
                    finalità del trattamento ii) le categorie di Dati in questione; iii) i
                    destinatari o le categorie di destinatari a cui i Dati sono stati o
                    saranno comunicati, in particolare se paesi terzi o organizzazioni
                    internazionali; iv) quando possibile, il periodo di conservazione dei
                    Dati previsto oppure, se non è possibile, i
                </p>
          

            <p>
                criteri utilizzati per determinare tale periodo; v) l’esistenza del diritto
                dell’Interessato di chiedere al Titolare del trattamento la rettifica o la
                cancellazione dei Dati o la limitazione del trattamento o di opporsi al
                loro trattamento; vi) il diritto di proporre reclamo a un’autorità di
                controllo, ai sensi degli artt. 77 ss. del GDPR; vii) qualora i Dati non
                siano raccolti presso l’Interessato, tutte le informazioni disponibili
                sulla loro origine; viii) l’esistenza di un processo decisionale
                automatizzato, compresa la profilazione di cui all’articolo 22, paragrafi 1
                e 4 del GDPR, e, almeno in tali casi, informazioni significative sulla
                logica utilizzata, nonché l’importanza e le conseguenze previste di tale
                trattamento per l’Interessato; ix) il diritto di essere informato
                dell’esistenza di garanzie adeguate ai sensi dell’articolo 46 del GDPR
                relative al trasferimento, qualora i Dati siano trasferiti a un paese terzo
                o a un’organizzazione internazionale;
            </p>
            <p>
                b) l’Interessato avrà altresì (ove applicabili) la possibilità di
                esercitare i diritti di cui agli artt. 16-21 del GDPR (diritto di
                rettifica, diritto all’oblio, diritto di limitazione di trattamento,
                diritto alla portabilità dei Dati, diritto di opposizione).
            </p>
            <p>
                La informiamo che la nostra Società si impegna a rispondere alle Sue
                richieste al più tardi entro un mese dal ricevimento della richiesta. Tale
                termine potrebbe essere prorogato in funzione della complessità o
                numerosità delle richieste e la Società provvederà a spiegarLe il motivo
                della proroga entro un mese dalla Sua richiesta. L’esito della sua
                richiesta potrà esserLe fornito per iscritto o in formato cartaceo o in
                formato elettronico.
            </p>
            <p>
                <strong>9. Modalità di esercizio dei diritti</strong>
            </p>
            <p>
                L’Interessato potrà in qualsiasi momento esercitare i diritti su menzionati
                e richiedere l'elenco aggiornato dei Responsabili del trattamento inviando
                richiesta al seguente indirizzo di posta elettronica: <a
                    href="mailto:privacy@romaeur.it">privacy@romaeur.it.</a><u></u>
            </p>
            <p align="right"style="margin-right: 10%;">
                <strong>Il Titolare</strong>
            </p>
            <p align="right" style="margin-right: 10%;">
                EUR S.p.A.
            </p>
        </div>
        <div class="modal-footer">
            <button ng-click="cd.options.closeModal()" type="button" class="btn btn-success">Si, Accetto</button>
            <button ng-click="cd.options.logout()" type="button" class="btn btn-danger">No, Annulla</button>
        </div>
    </div>
</div>
</div>
<div class="row">
    <magic-grid ng-init="cd.options.showModal()" id="grid0" gridname="EUR_ALBO"
        kendo-grid-instance="cd.options.kendoGridInstance"></magic-grid>
</div>