<div id="enpamModal" class="modal fade" style="display:none;">
    <div class="modal-dialog" style="width: 60%">
        <div class="modal-content">
            <div class="modal-header">
                <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
                <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
                  <head>
                    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                    <title>file_1701943907312</title>
                    <meta name="author" content="Giovanni Guerra" />
                    <style type="text/css">
                      * {
                        margin: 0;
                        padding: 0;
                        text-indent: 0;
                      }
                      h1 {
                        color: black;
                        font-family: Calibri, sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        text-decoration: none;
                        font-size: 11pt;
                      }
                      p {
                        color: black;
                        font-family: Calibri, sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: none;
                        font-size: 11pt;
                        margin: 0pt;
                      }
                      .a {
                        color: #0462c1;
                        font-family: Calibri, sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: underline;
                        font-size: 11pt;
                      }
                      .s1 {
                        color: black;
                        font-family: Calibri, sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        text-decoration: none;
                        font-size: 11pt;
                      }
                    </style>
                  </head>
                  <body>
                    <h1
                      style="padding-top: 3pt; padding-left: 98pt; text-indent: 0pt; text-align: center;"
                    >
                      Informativa sul trattamento dei dati personali per l&#39;iscrizione
                      nell’albo dei fornitori di Sidief 
                    </h1>
                    <p
                      style="
                        padding-top: 9pt;
                        padding-left: 5pt;
                        text-indent: 0pt;
                        line-height: 108%;
                        text-align: justify;
                      "
                    >
                      Ai sensi degli artt. 13 e 14 del Regolamento UE n. 679/2016 - Regolamento
                      generale sulla protezione dei dati (di seguito il “<b>GDPR</b>”),
                      Sidief S.p.A. (in seguito “<b>Sidief</b>”) intende fornire
                      alcune informazioni in ordine al trattamento dei dati personali connesso
                      alla iscrizione nel relativo albo dei fornitori di beni, servizi e lavori
                      (in seguito “<b>Albo</b>”).
                    </p>
                    <p
                      style="
                        padding-top: 8pt;
                        padding-left: 5pt;
                        text-indent: 0pt;
                        line-height: 108%;
                        text-align: justify;
                      "
                    >
                      I dati personali riferiti al fornitore, ove si tratti di impresa
                      individuale o libero professionista, e/o riferiti ai relativi
                      rappresentanti, esponenti, dipendenti o collaboratori, ove operante in
                      forma societaria, rilasciati con la richiesta di iscrizione nell’Albo e,
                      ove necessario, acquisiti anche da terzi (es.: registro delle imprese
                      presso la competente Camera di commercio, società di informazioni
                      commerciali, etc.), sono trattati da Sidief, quale Titolare del
                      trattamento, per dare seguito alla suddetta richiesta ed alle procedure
                      interne di verifica e valutazione dei requisiti di idoneità economico
                      finanziaria e tecnico-organizzativa dei fornitori che intendono
                      partecipare a procedure di affidamento dei servizi di Sidief,
                      nonché per l’invio delle informazioni e per l’esecuzione delle altre
                      operazioni necessarie per effettuare la registrazione on line e per lo
                      svolgimento delle attività precontrattuali correlate all’eventuale
                      attivazione di un rapporto per la fornitura di servizi.
                    </p>
                    <p
                      style="
                        padding-top: 7pt;
                        padding-left: 5pt;
                        text-indent: 0pt;
                        line-height: 108%;
                        text-align: justify;
                      "
                    >
                      A tali fini, il trattamento dei dati personali è svolto per l’esecuzione
                      della richiesta del fornitore della misura precontrattuale relativa
                      all’iscrizione nell’Albo, per l’adempimento dei correlati obblighi
                      normativi in materia antiriciclaggio e di contrasto al terrorismo, per il
                      perseguimento di legittimi interessi di carattere organizzativo, tecnico e
                      di sicurezza correlati alla gestione delle operazioni di registrazione
                      nell’Albo, nonché per l’eventuale difesa di diritti in sede giudiziaria in
                      caso di contestazioni o controversie.
                    </p>
                    <p
                      style="
                        padding-top: 7pt;
                        padding-left: 5pt;
                        text-indent: 0pt;
                        line-height: 108%;
                        text-align: justify;
                      "
                    >
                      Il conferimento dei dati richiesti è necessario per le predette finalità e
                      la loro assenza, anche parziale, non permetterebbe di completare il
                      processo di iscrizione nell&#39;Albo e procedere ad un eventuale,
                      successivo contatto od invito a partecipare alle procedure di affidamento
                      dei servizi di Sidief.
                    </p>
                    <p
                      style="
                        padding-top: 8pt;
                        padding-left: 5pt;
                        text-indent: 0pt;
                        line-height: 108%;
                        text-align: justify;
                      "
                    >
                      Per le suddette finalità i dati personali saranno trattati con procedure
                      prevalentemente informatizzate, mediante strumenti idonei a garantirne la
                      sicurezza e la riservatezza dei dati e delle comunicazioni elettroniche.
                      Potranno essere conosciuti solo da dipendenti e collaboratori di Sidief
                      SGR autorizzati al trattamento e/o dal personale autorizzato di società di
                      servizi che svolgono attività tecniche ed organizzative per conto di
                      Sidief, in qualità di responsabili del trattamento (quali, ad
                      esempio, società di servizi amministrativi e società di servizi
                      informatici, consulenti, ecc.).
                    </p>
                    <p
                      style="
                        padding-top: 7pt;
                        padding-left: 5pt;
                        text-indent: 0pt;
                        text-align: justify;
                      "
                    >
                      I dati personali non sono trasferiti a soggetti stabiliti al di fuori di
                      Paesi al di fuori della UE.
                    </p>
                    <p
                      style="
                        padding-top: 9pt;
                        padding-left: 5pt;
                        text-indent: 0pt;
                        line-height: 108%;
                        text-align: justify;
                      "
                    >
                      I dati personali saranno conservati per un periodo di 5 anni decorrenti
                      dalla data di registrazione nell’Albo o, laddove si sia instaurato un
                      rapporto contrattuale, per la durata dello stesso e, una volta cessato,
                      per i tempi stabiliti dalle norme vigenti in materia civile, contabile e
                      fiscale.
                    </p>
                    <p
                      style="
                        padding-top: 7pt;
                        padding-left: 5pt;
                        text-indent: 0pt;
                        line-height: 108%;
                        text-align: justify;
                      "
                    >
                      Il GDPR (artt. 15-22) garantisce alla persona fisica a cui si riferiscono
                      i dati (“interessato”) il diritto, in ogni momento, di richiedere
                      l’accesso ai dati personali che lo riguardano ed ottenerne copia,
                      chiederne la rettifica o l’integrazione, se inesatti o incompleti,
                      chiederne la cancellazione o la limitazione del trattamento ove ne
                      ricorrano i presupposti, opporsi al loro trattamento per motivi legati
                      alla propria situazione particolare, chiedere la portabilità dei dati
                      forniti ove trattati in modo automatizzato sulla base del Suo consenso o
                      per l’esecuzione di un contratto. Resta infine fermo il diritto
                      dell’Interessato presentare reclamo al Garante per la protezione dei dati
                      personali ove ritenuto necessario per la tutela dei propri diritti.
                    </p>
                    <p
                      style="
                        padding-top: 7pt;
                        padding-left: 5pt;
                        text-indent: 0pt;
                        line-height: 108%;
                        text-align: justify;
                      "
                    >
                      <a
                        href="mailto:trattamentodati@.."
                        class="s1"
                        target="_blank"
                        >Per qualsiasi questione attinente al trattamento dei dati personali
                        l’Interessato può rivolgersi a Sidief S.p.A., quale titolare del
                        trattamento, con sede legale in Via...... e uffici in
                       ......, contattabile ai seguenti recapiti:
                        Tel: .....; E-mail: </a
                      ><a
                        href="mailto:trattamentodati@.."
                        class="a"
                        target="_blank"
                        >trattamentodati@....</a
                      ><a
                        href="mailto:trattamentodati@...."
                        class="s1"
                        target="_blank"
                        >.</a
                      >
                    </p>
                  </body>
                </html>
            </div>
<div class="modal-footer">
    <button ng-click="cd.options.closeModal()" type="button" class="btn btn-success">Si, Accetto</button>
    <button ng-click="cd.options.logout()" type="button" class="btn btn-danger">No, Annulla</button>
</div>
</div>
</div>
</div>
<div class="row">
<magic-grid ng-init="cd.options.showModal()" id="grid0" gridname="SIDIEF_ALBO"
kendo-grid-instance="cd.options.kendoGridInstance"></magic-grid>
</div>