<div id="enpamModal" class="modal fade" style="display:none;">
    <div class="modal-dialog" style="width: 60%">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <h4 class="modal-title"><b>INFORMATIVA GENERALE EX ART. 13 GDPR N. 679/16</b></h4>
            </div>
            <div class="modal-body">
                <p>In attuazione del Regolamento UE n. 679/16 si forniscono ai clienti ed utenti dei servizi le seguenti
                    concise informazioni di carattere generale, per il caso di dati ottenuti direttamente presso
                    l&rsquo;interessato:</p>
                <p>&nbsp;</p>
                <p>- <strong>identit&agrave; e dati di contatto del titolare del trattamento</strong>: sorgente Sviluppo
                    Commerciale s.r.l., in persona del legale rappresentante p.t., corrente in 20122 Milano, Galleria
                    del Corso n.1, C.F./p.iva: 05815490726; REA: MI-1963696; p.e.c.: sorgentesrl@legalmail.it; e-mail:
                    <a href="mailto:info@sorgente.com">info@sorgente.com</a>.</p>
                <p>&nbsp;</p>
                <p>- Dati di contatto del responsabile della protezione dei dati(<strong>D.P.O.</strong>): Avv. Marco
                    Pagliara, e-mail: <a href="mailto:rdp@sorgente.com">rdp@sorgente.com</a>; p.e.c.: <a
                        href="mailto:avv.pagliara@pec.it">avv.pagliara@pec.it</a>.</p>
                <p>&nbsp;</p>
                <p>- <strong>Finalit&agrave; del trattamento cui sono destinati i dati personali</strong>: al fine di
                    accertare i requisiti di idoneit&agrave; economico finanziaria e tecnico-organizzativa dei soggetti
                    che intendono partecipare a procedure di affidamento di servizi in appalto. I dati personali
                    verranno trattati per finalit&agrave; inerenti la consulenza, lo sviluppo, l&rsquo;amministrazione e
                    la commercializzazione di complessi commerciali, nonch&eacute; la commercializzazione e gestione di
                    locali commerciali, la promozione e l&rsquo;assistenza alla gestione delle associazioni o consorzi
                    dei commercianti, per l&rsquo;espletamento delle attivit&agrave; di consulenza e l&rsquo;esecuzione
                    di servizi. Per finalit&agrave; di marketing diretto (attivit&agrave; promozionali, eventi).</p>
                <p>&nbsp;</p>
                <p>- <strong>Basi giuridiche dei trattamenti</strong>: le basi giuridiche dei trattamenti possono essere
                    costituite, alternativamente, dal consenso, manifestato mediante dichiarazioni o con azioni positive
                    inequivocabili degli interessati, ex art. 4 GDPR, ovvero dall&rsquo;esecuzione di specifici
                    contratti o servizi, ovvero dall&rsquo;adempimento di obblighi legali del titolare del trattamento,
                    ovvero legittimo interesse per motivi di sicurezza e protezione dei beni.</p>
                <p>&nbsp;</p>
                <p>- <strong>Categorie di dati personali</strong>: comuni, ovvero anagrafici e di ubicazione, di
                    contatto, relativi alla capacit&agrave; patrimoniale ed economico-finanziaria.</p>
                <p>&nbsp;</p>
                <p>- <strong>Destinatari o categorie di destinatari dei dati personali</strong>: I dati potranno essere
                    comunicati a soggetti convenzionati (ad es. consorzi dei centri commerciali), responsabili esterni
                    (consulenti fiscali, societ&agrave; di informatica, hosting provider, corrieri postali),
                    societ&agrave; partecipate e contitolari dei trattamenti, aziende del settore immobiliare,
                    editoriale, finanziario, largo consumo.</p>
                <p>&nbsp;</p>
                <p>- <strong>Intenzione del titolare del trattamento di trasferire dati personali ad un paese
                        terzo</strong>: non sussiste, giacch&eacute; i dati non verranno trasferiti extra UE. Qualora
                    sopravvengano necessit&agrave; di trasferimento dei dati extra UE il trattamento sar&agrave;
                    regolato in conformit&agrave; a quanto previsto dal capo V del Reg. UE 679/2016, con verifica delle
                    decisioni di adeguatezza dei paesi terzi destinatari, ovvero della sussistenza di garanzie adeguate
                    o norme vincolanti d&rsquo;impresa, ovvero sussistenza di specifiche eccezioni e previa
                    autorizzazione degli interessati e comunicazione ai medesimi.</p>
                <p>&nbsp;</p>
                <p>- <strong>Periodo di conservazione dei dati personali </strong>e criterio utilizzato per
                    determinarlo: fino al conseguimento delle finalit&agrave; o attualit&agrave; dell&rsquo;interesse,
                    comunque non oltre 10 anni dalla cessazione del rapporto, in funzione del criterio relativo al
                    termine di prescrizione ordinaria dei diritti, ovvero per periodi superiori in caso di interruzione
                    dei termini prescrizionali o per legittimo interesse del titolare del trattamento e previa
                    comunicazione dello stesso agli interessati.</p>
                <p>&nbsp;</p>
                <p>- Si comunica agli interessati l&rsquo;esistenza del diritto di chiedere al titolare del trattamento
                    l&rsquo;<strong>accesso </strong>ai dati personali, la <strong>rettifica </strong>o la
                    <strong>cancellazione </strong>degli stessi, la <strong>limitazione </strong>del trattamento, di
                    opporsi al loro trattamento, oltre al diritto alla <strong>portabilit&agrave; </strong>dei dati,
                    disciplinati dagli artt. 15 e seguenti del Reg. UE 679/16, per l&rsquo;esercizio dei diritti
                    suddetti si pu&ograve; inviare una comunicazione al seguente indirizzo di posta elettronica: <a
                        href="mailto:rdp@sorgente.com">rdp@sorgente.com</a> .</p>
                <p>&nbsp;</p>
                <p>- Si informano gli interessati dell&rsquo;esistenza del diritto di <strong>revocare il consenso
                    </strong>in qualsiasi momento, qualora il trattamento sia fondata su tale base giuridica. Tanto
                    pu&ograve; essere effettuato mediante comunicazione alla seguente e-mail: info@sorgente.com, senza
                    pregiudicare la liceit&agrave; del trattamento basata sul consenso prestato prima della revoca,
                    nonch&eacute; del diritto di proporre <strong>Reclamo </strong>ad un&rsquo;autorit&agrave; di
                    controllo (Garante per la privacy).</p>
                <p>&nbsp;</p>
                <p>- La comunicazione di dati personali &egrave; necessaria per le finalit&agrave; del trattamento, ai
                    fini di eventuali contratti e per accedere ai servizi erogati.</p>
                <p>&nbsp;</p>
                <p>- Per l&rsquo;esistenza di <strong>processi decisionali automatizzati, compresa la
                        profilazione</strong>, verr&agrave; utilizzata una logica inerente l&rsquo;interesse
                    dell&rsquo;impresa e dei clienti, secondo criteri mirati alla gestione della relazione con gli
                    investitori pubblicitari, migliorarne le campagne e coadiuvare le direzioni commerciali nello
                    sviluppo delle strategie digitali; gli stessi sono comunque necessari per l&rsquo;esecuzione delle
                    attivit&agrave; e l&rsquo;espletamento dei servizi contrattuali in base alle preferenze
                    dell&rsquo;interessato.</p>
                <p>L&rsquo;interessato pu&ograve; sempre comunicare per iscritto di <strong>opporsi al predetto
                        trattamento </strong>al seguente indirizzo e-mail: <a
                        href="mailto:info@sorgente.com">info@sorgente.com</a> .</p>
            </div>
            <div class="modal-footer">
                <button ng-click="cd.options.closeModal()" type="button" class="btn btn-success">Si, Accetto</button>
                <button ng-click="cd.options.logout()" type="button" class="btn btn-danger">No, Annulla</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <magic-grid ng-init="cd.options.showModal()" id="grid0" gridname="SORGENTE_ALBO"
        kendo-grid-instance="cd.options.kendoGridInstance"></magic-grid>
</div>