<div id="enpamModal" class="modal fade" style="display:none;">
    <div class="modal-dialog" style="width: 60%">
        <div class="modal-content">

           </head>
       <body>
        <h1 style="text-align: center;">Informativa Fornitori</h1>
<p><strong>&nbsp;</strong></p>
<p><strong>Chi</strong> <strong>siamo</strong> <strong>e</strong> <strong>cosa</strong> <strong>facciamo</strong> <strong>dei</strong> <strong>tuoi</strong> <strong>dati</strong> <strong>personali?</strong></p>
<p>I Contitolari Svicom S.p.A. Societ&agrave; Benefit, Svicom Agency S.r.l., Svicom Gestioni Condominiali</p>
<p>S.r.l. e Svicom Global Service (d&rsquo;ora in avanti i &ldquo;Contitolari&rdquo;) si preoccupano della riservatezza dei tuoi dati personali e di garantire ad essi la protezione necessaria da ogni evento che possa metterli a rischio di violazione.</p>
<p>I Contitolari mettono in pratica al fine policy e prassi aventi riguardo alla raccolta e all&rsquo;utilizzo dei dati personali e all&rsquo;esercizio dei diritti che ti sono riconosciuti dalla normativa applicabile. I Contitolari hanno cura di aggiornare le policy e le prassi adottate per la protezione dei dati personali ogni volta che ci&ograve; si renda necessario e comunque in caso di modifiche normative e organizzative che possano incidere sui trattamenti dei tuoi dati personali.</p>
<p>Il contenuto essenziale dell&rsquo;accordo di contitolarit&agrave; concluso tra i Contitolari &egrave; disponibile all&rsquo;indirizzo <a href="http://www.svicom.com/">www.svicom.com.</a></p>
<p>I Contitolari hanno nominato un responsabile della protezione dei dati o data protection officer (RPD o DPO) che puoi contattare se hai domande sulle policy e le prassi adottate.</p>
<p>Puoi contattare il RPD/DPO all&rsquo;indirizzo che segue: <a href="mailto:dpo@svicom.com">dpo@svicom.com</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>Come e perch&eacute; i Contitolari raccolgono e trattano i tuoi dati personali?</h1>
<p>I Contitolari raccolgono e/o ricevono le informazioni che ti riguardano, quali:</p>
<ul>
<li>nome, cognome;</li>
<li>partita iva o codice fiscale;</li>
<li>indirizzo;</li>
<li>email;</li>
<li>numero di telefono fisso e/o mobile;</li>
<li>codice identificativo</li>
<li>relativi all&rsquo;attivit&agrave; commerciale e/o professionale</li>
<li>dati informatici (indirizzo IP) a seguito della compilazione del form nella sezione https://svicom.com/fornitori/.</li>
</ul>
<p>&nbsp;</p>
<p>I dati personali che ti riguardano saranno trattati per le finalit&agrave; che seguono:</p>
<p>&nbsp;</p>
<h1>1)&nbsp;&nbsp; la gestione del rapporto contrattuale di fornitura e dei conseguenti adempimenti anche normativi</h1>
<p><strong>&nbsp;</strong></p>
<table style="margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr>
<td width="302">
<p>Finalit&agrave;</p>
</td>
<td width="302">
<p>Base giuridica</p>
</td>
</tr>
<tr>
<td width="302">
<p>-&nbsp;&nbsp; la gestione del rapporto contrattuale in tutte le sue fasi, dalle trattative alla sua definizione, qualunque ne sia la causa</p>
<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; monitoraggio e aggiornamento delle condizioni di fornitura e/o dei servizi e degli incarichi</p>
<p>-&nbsp;&nbsp; registrazione, fatturazione e tenuta della contabilit&agrave;</p>
</td>
<td width="302">
<p>Svolgimento attivit&agrave; contrattuali e precontrattuali</p>
<p><strong>&nbsp;</strong></p>
<p>Adempimento di obblighi di legge e dipendenti dal contratto e dal rapporto instaurato, quali, tra gli altri, quelli discendenti da:</p>
<p>-&nbsp; D.P.R. n. 633/1972 e s.m.i.</p>
<p>-&nbsp; D.P.R. n. 600/1972 e s.m.i.</p>
<p>-&nbsp;&nbsp;&nbsp; Codice etico dei Contitolari Adempimento di obblighi di rendicontazione economico-finanziaria e sociale</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<ul>
<li><strong>per</strong> <strong>la</strong> <strong>comunicazione</strong> <strong>a</strong> <strong>terzi</strong> <strong>e</strong> <strong>per</strong> <strong>la</strong> <strong>diffusione</strong></li>
</ul>
<p><strong>&nbsp;</strong></p>
<table style="margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr>
<td style="width: 302px; text-align: center;">
<p>Finalit&agrave;</p>
</td>
<td style="width: 301px; text-align: center;">
<p>Base giuridica</p>
</td>
</tr>
<tr>
<td style="width: 302px;">
<p>comunicazione a terzi quali:</p>
<p>o&nbsp;&nbsp; Fornitori eventualmente coinvolti nella gestione amministrativa e contabile</p>
<p>o&nbsp;&nbsp;&nbsp; Revisore legale</p>
<p>o&nbsp;&nbsp; amministrazioni finanziarie e enti pubblici in adempimento di obblighi normativi;</p>
<p>o&nbsp;&nbsp; societ&agrave; di elaborazione dati e di servizi informatici (es. web hosting, data entry, gestione e manutenzione infrastrutture e servizi informatici, ecc.).</p>
</td>
<td style="width: 301px;">
<p>Svolgimento&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; attivit&agrave;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; contrattuali&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; e precontrattuali</p>
<p><strong>&nbsp;</strong></p>
<p>Adempimento degli obblighi dipendenti dal contratto</p>
<p><strong>&nbsp;</strong></p>
<p>Adempimenti obblighi di legge, tra cui quelli dipendenti da:</p>
<p>-&nbsp;&nbsp;&nbsp; D.P.R. n. 633/1972 e s.m.i.</p>
<p>-&nbsp;&nbsp;&nbsp; D.P.R. n. 600/1972</p>
<p>Adempimento degli obblighi dipendenti da:</p>
<p>-</p>
<p>Adempimento di obblighi di trasparenza e di rendicontazione economico - sociale</p>
</td>
</tr>
</tbody>
</table>
<p><strong>&nbsp;</strong></p>
<p>I Contitolari non trasferiscono i tuoi dati personali all&rsquo;estero (paesi extra UE).</p>
<p>&nbsp;</p>
<p>La comunicazione e la diffusione riguardano le categorie di dati la cui trasmissione e/o divulgazione si rendano necessarie per lo svolgimento delle attivit&agrave; e finalit&agrave; perseguite dai Contitolari nella gestione del rapporto instaurato. Il relativo trattamento non richiede il consenso dell&rsquo;interessato nel caso in cui lo stesso avvenga a fronte di obblighi di legge o per dar corso agli obblighi derivanti dal rapporto contrattuale o nel caso dovesse ricorrere altra ipotesi di esclusione (in specie applicazione delle prescrizioni di cui al Codice etico e/o interesse legittimo interesse dei Contitolari), espressamente prevista o dipendente dalla normativa e dai regolamenti applicati dai Contitolari, o anche mediante soggetti terzi individuati quali responsabili del trattamento.</p>
<p>&nbsp;</p>
<ul>
<li><strong>per</strong> <strong>attivit&agrave;</strong> <strong>di</strong> <strong>sicurezza</strong> <strong>informatica</strong> <strong>legate</strong> <strong>alla</strong> <strong>prevenzione</strong> <strong>di</strong> <strong>data</strong> <strong>breach</strong></li>
</ul>
<p><strong>&nbsp;</strong></p>
<table style="margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr>
<td width="302">
<p>Finalit&agrave;</p>
</td>
<td width="301">
<p>Base giuridica</p>
</td>
</tr>
<tr>
<td width="302">
<p><strong>&nbsp;</strong></p>
<p>- implementazione procedure di rilevazione e notificazione delle violazioni di dati personali (data breach)</p>
</td>
<td width="301">
<p><strong>&nbsp;</strong></p>
<p>Adempimento di obblighi di legge (rilevazione e notificazione di eventi di data breach)</p>
</td>
</tr>
</tbody>
</table>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Come,</strong> <strong>dove</strong> <strong>e</strong> <strong>per</strong> <strong>quanto</strong> <strong>tempo</strong> <strong>vengono</strong> <strong>conservati</strong> <strong>i</strong> <strong>tuoi</strong> <strong>dati?</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Come</strong></p>
<p>Il trattamento dei dati &egrave; eseguito attraverso procedure informatiche da parte di soggetti interni appositamente autorizzati. A questi &egrave; consentito l&rsquo;accesso ai tuoi dati personali nella misura e nei limiti in cui esso &egrave; necessario per lo svolgimento delle attivit&agrave; di trattamento che ti riguardano.</p>
<p>I Contitolari verificano periodicamente gli strumenti mediante i quali i tuoi dati vengono trattati e le misure di sicurezza per essi previste di cui prevede l&rsquo;aggiornamento costante; verifica, anche per il tramite dei soggetti autorizzati al trattamento, che non siano raccolti, trattati, archiviati o conservati dati personali di cui non sia necessario il trattamento o le cui finalit&agrave;</p>
<p>&nbsp;</p>
<p>siano nel caso esaurite; verifica che i dati siano conservati con la garanzia di integrit&agrave; e di autenticit&agrave; e del loro uso per le finalit&agrave; dei trattamenti effettivamente svolti.</p>
<p>I Contitolari garantiscono che i dati che, anche a seguito delle verifiche, risultino eccedenti o non pertinenti non saranno utilizzati salvo che per l'eventuale conservazione, a norma di legge, dell'atto o del documento che li contiene.</p>
<h1>Dove</h1>
<p>I dati sono conservati in archivi cartacei, informatici ed elettronici, situati all&rsquo;interno dello spazio economico europeo, e sono assicurate misure di sicurezza adeguate.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>Quanto tempo</h1>
<p>I tuoi dati personali vengono conservati per il tempo necessario al compimento delle attivit&agrave; legate alla gestione del contratto che hai stipulato con i Contitolari e per gli adempimenti, anche di legge, che ne conseguono.</p>
<p>&nbsp;</p>
<p>In particolare:</p>
<p>&nbsp;</p>
<p>Esaurite tutte le finalit&agrave; che legittimano la conservazione dei tuoi dati personali, i Contitolari avranno cura di cancellarli o di renderli in forma anonima.</p>
<p>&nbsp;</p>
<h1>Quali sono i tuoi diritti?</h1>
<p>I diritti che ti sono riconosciuti ti permettono di avere sempre il controllo dei tuoi dati. I tuoi diritti sono quelli di:</p>
<ul>
<li>accesso;</li>
<li>rettifica;</li>
<li>cancellazione;</li>
<li>limitazione del trattamento;</li>
<li>opposizione al trattamento;</li>
<li>portabilit&agrave;.</li>
</ul>
<p><u>In sostanza tu</u>, in ogni momento e a titolo gratuito e senza oneri e formalit&agrave; particolari per la tua richiesta, puoi:</p>
<ul>
<li>ottenere conferma del trattamento operato dai</li>
<li>accedere ai tuoi dati personali e conoscerne l&rsquo;origine (quando i dati non sono ottenuti da te direttamente), le finalit&agrave; e gli scopi del trattamento, i dati dei soggetti a cui essi sono comunicati, il periodo di conservazione dei tuoi dati o i criteri utili per determinarlo;</li>
<li>aggiornare o rettificare i tuoi dati personali in modo che siano sempre esatti e accurati;</li>
<li>cancellare i tuoi dati personali dalle banche dati e/o dagli archivi anche di backup nel caso, tra gli altri, in cui non siano pi&ugrave; necessari per le finalit&agrave; del trattamento o se questo si assume come illecito, e sempre se ne sussistano le condizioni previste per</li>
</ul>
<p>&nbsp;</p>
<p>legge; e comunque se il trattamento non sia giustificato da un altro motivo ugualmente legittimo;</p>
<ul>
<li>limitare il trattamento dei tuoi dati personali in talune circostanze, ad esempio laddove tu ne abbia contestato l&rsquo;esattezza, per il periodo necessario ai Contitolari per verificarne l&rsquo;accuratezza. Tu devi essere informato, in tempi congrui, anche di quando il periodo di sospensione si sia compiuto o la causa della limitazione del trattamento sia venuta meno, e quindi la limitazione stessa revocata;</li>
<li>ottenere i tuoi dati personali, se il loro trattamento avvenga sulla base di un contratto e con strumenti automatizzati, in formato elettronico anche al fine di trasmetterli ad altro titolare del</li>
</ul>
<p>I Contitolari dovranno procedere in tal senso senza ritardo e, comunque, al pi&ugrave; tardi entro un mese dal ricevimento della tua richiesta. Il termine pu&ograve; essere prorogato di due mesi, se necessario, tenuto conto della complessit&agrave; e del numero delle richieste ricevute. In tali casi i Contitolari entro un mese dal ricevimento della tua richiesta, ti informeranno e ti metteranno al corrente dei motivi della proroga.</p>
<p>Per ogni ulteriore informazione e comunque per inviare la tua richiesta scrivi all&rsquo;indirizzo <a href="mailto:dpo@svicom.com">dpo@svicom.com</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>Come e quando puoi opporti al trattamento dei tuoi dati personali?</h1>
<p>Per motivi relativi alla tua situazione particolare, puoi opporti in ogni momento al trattamento dei tuoi dati personali se esso &egrave; fondato sul legittimo interesse, inviando la tua richiesta all&rsquo;indirizzo <a href="mailto:dpo@svicom.com">dpo@svicom.com</a></p>
<p>&nbsp;</p>
<p>Tu hai diritto alla cancellazione dei tuoi dati personali se non esiste un motivo legittimo prevalente rispetto a quello che ha dato origine alla tua richiesta.</p>
<p>&nbsp;</p>
<h1>A chi puoi proporre reclamo?</h1>
<p>Fatta salva ogni altra azione in sede amministrativa o giudiziaria, puoi presentare un reclamo all&rsquo;autorit&agrave; garante per la protezione dei dati personali, a meno che tu non risieda o non svolga la tua attivit&agrave; lavorativa in altro Stato membro. In tale ultimo caso, o in quello in cui la violazione della normativa in materia di protezione dei dati personali avvenga in altro paese dell&rsquo;Ue, la competenza a ricevere e conoscere il reclamo sar&agrave; delle autorit&agrave; di controllo ivi stabilite.</p>
<p>&nbsp;</p>
<p>Ogni aggiornamento della presente informativa ti sar&agrave; comunicato tempestivamente e mediante mezzi congrui e altrettanto ti sar&agrave; comunicato prima di procedervi e in tempo per prestare il tuo consenso se necessario.</p>
       </body>


            <div class="modal-footer">
                <input type="checkbox" ng-click="cd.options.clickCheck()" id="ChecInput" name="ChecInput"  class="btn" value="letto">
                <label for="ChecInput">Letto</label>
                <button ng-click="cd.options.closeModal()" id="accetto1" type="button" class="btn btn-success">Si, Accetto</button>
                <button ng-click="cd.options.logout()" type="button" class="btn btn-danger">No, Annulla</button>
            </div>
        </div>
    </div>
</div>
<script>$('#ChecInput').click(function () {
  //check if checkbox is checked
  if ($(this).is(':checked')) {
      
      $('#Accetto1').removeAttr('disabled'); //enable input
      
  } else {
      $('#Accetto1').attr('disabled', true); //disable input
  }
});</script>
<div class="row">
    <magic-grid ng-init="cd.options.showModal()" id="grid0" gridname="SR_CURRENT_SUPPLIER_REGISTRATION"
        kendo-grid-instance="cd.options.kendoGridInstance"></magic-grid>
</div>