/***** Font Definition for Open Sans. This stylesheet comes from qrohlf.com/posts/better-opensans *****/

/* Regular */
@font-face {
    font-family: 'Open Sans';
    
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-weight: 400;
    font-style: normal;

}

/* Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Italic-webfont.eot');
    src: url('fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-weight: 400;
    font-style: italic;

}

/* Light */
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: 200;
    font-style: normal;

}

/* Light Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-LightItalic-webfont.eot');
    src: url('fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;

}

/* Semibold */
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Semibold-webfont.eot');
    src: url('fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: 500;
    font-style: normal;

}

/* Semibold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-SemiboldItalic-webfont.eot');
    src: url('fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
    font-weight: 500;
    font-style: italic;

}

/* Bold */
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Bold-webfont.eot');
    src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: bold;
    font-weight: 700;
    font-style: normal;

}

/* Bold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: bold;
    font-weight: 700;
    font-style: italic;

}

/* Extra Bold */
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
    font-weight: 900;
    font-style: normal;

}

/* Extra Bold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
    font-weight: 900;
    font-style: italic;

}



/* FontFace Raleway */

@font-face {
  font-family: 'Raleway-Bold';
  src: url('fonts/Raleway-Bold.eot');
  src: url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Raleway-Bold.woff2') format('woff2'),
       url('fonts/Raleway-Bold.woff') format('woff'),
       url('fonts/Raleway-Bold.ttf') format('truetype'),
       url('fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
}

@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('fonts/Raleway-ExtraBold.eot');
  src: url('fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Raleway-ExtraBold.woff2') format('woff2'),
       url('fonts/Raleway-ExtraBold.woff') format('woff'),
       url('fonts/Raleway-ExtraBold.ttf') format('truetype'),
       url('fonts/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg');
}

@font-face {
  font-family: 'Raleway-ExtraLight';
  src: url('fonts/Raleway-ExtraLight.eot');
  src: url('fonts/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
       url('fonts/Raleway-ExtraLight.woff2') format('woff2'),
       url('fonts/Raleway-ExtraLight.woff') format('woff'),
       url('fonts/Raleway-ExtraLight.ttf') format('truetype'),
       url('fonts/Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg');
}

@font-face {
  font-family: 'Raleway-Heavy';
  src: url('fonts/Raleway-Heavy.eot');
  src: url('fonts/Raleway-Heavy.eot?#iefix') format('embedded-opentype'),
       url('fonts/Raleway-Heavy.woff2') format('woff2'),
       url('fonts/Raleway-Heavy.woff') format('woff'),
       url('fonts/Raleway-Heavy.ttf') format('truetype'),
       url('fonts/Raleway-Heavy.svg#Raleway-Heavy') format('svg');
}

@font-face {
  font-family: 'Raleway-Light';
  src: url('fonts/Raleway-Light.eot');
  src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
       url('fonts/Raleway-Light.woff2') format('woff2'),
       url('fonts/Raleway-Light.woff') format('woff'),
       url('fonts/Raleway-Light.ttf') format('truetype'),
       url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url('fonts/Raleway-Medium.eot');
  src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
       url('fonts/Raleway-Medium.woff2') format('woff2'),
       url('fonts/Raleway-Medium.woff') format('woff'),
       url('fonts/Raleway-Medium.ttf') format('truetype'),
       url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Regular.eot');
  src: url('fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
       url("fonts/Raleway-Regular.woff2") format("woff2"),
       url('fonts/Raleway-Regular.woff') format('woff'),
       url('fonts/Raleway-Regular.ttf') format('truetype'),
       url('fonts/Raleway-Regular.svg#Raleway') format('svg');
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('fonts/Raleway-SemiBold.eot');
  src: url('fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Raleway-SemiBold.woff2') format('woff2'),
       url('fonts/Raleway-SemiBold.woff') format('woff'),
       url('fonts/Raleway-SemiBold.ttf') format('truetype'),
       url('fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
}

@font-face {
  font-family: 'Raleway-Thin';
  src: url('fonts/Raleway-Thin.eot');
  src: url('fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
       url('fonts/Raleway-Thin.woff2') format('woff2'),
       url('fonts/Raleway-Thin.woff') format('woff'),
       url('fonts/Raleway-Thin.ttf') format('truetype'),
       url('fonts/Raleway-Thin.svg#Raleway-Thin') format('svg');
}