/* here you can put your own css to customize and override the theme */

/*classi per firma ilos nel footer*/
.footer-inner {
    font-weight:normal;
    font-size:11px;
}
.footer-inner a{
    color:#000000;
    font-weight:bold;
    font-size:14px;
}

/*classi per logo bicolore*/
.logoSx{
    color:#4d90fe;
    font-size:32px;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}
.logoDx{
    color:#ffffff;
    font-size:32px;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}
.header .navbar-brand{
    padding:0px;
    padding-top:11px;
    padding-left:20px;
    padding-bottom:10px;
}
.logoSxInt{
    color:#4d90fe;
    font-size:20px;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}
.logoDxInt{
    color:#ffffff;
    font-size:20px;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}
@media (max-width: 767px) {
    .header .navbar-brand {
  		margin-left: 0px !important;
  		width: 150px;
	}
}

/*classe per colorare di blue*/
.colorBlue {
    color:#4d90fe !important;
}
/*classe per allineare a destra*/
.alignRight {
    float:right !important;
}
/*classe per dare un po di margin bottom*/
.marginBottom {
    margin-bottom:0.5em;
}
/*classi per maschera di login*/
.failureNotificationStar{
    display:none !important;
}
.failureNotification {
    color:red !important;
}
.login .content .input-icon
{
    border-left-color:#4d90fe !important;
}

/*classi menu di sinistra con selected in azzurro*/
ul.page-sidebar-menu > li.active > a,
ul.page-sidebar-menu > li > ul.sub-menu > li.active > a,
ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li.active > a,
ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu li > ul.sub-menu > li.active > a
 {
  background:#4d90fe !important;
  position:relative;
}

/*classi per freccettina su menu selected*/
ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li.active > a .selected {
  display: block !important;
  width: 8px;
  height: 25px;
  background-image: url("../img/sidebar-menu-arrow.png");
  float: right;
  position: absolute;
  right:0px;
  top:3px;
}

/*classi menu troppo lunghi*/
ul.sub-menu span.title {
    display:block;
    float:left;
    max-width:134px;
    padding-left:3px;
}
ul.sub-menu i {
    float:left;
}
ul.sub-menu a {
    overflow:hidden;
}

/*classe che allarga al 100% la tabelal che asp.net crea sulla funzionalità di change password*/
#tab_3-3 table{
    width:100%;
}

/*setto il colore azzurro ai tab che originariamente sarebbero rossi*/
.tabbable-custom .nav-tabs > li.active{
       border-color:#4d90fe !important;
}

/*setto il colore azzurro sui submenu all interno della pagina user profile*/
.ver-inline-menu li.active a{
    background-color:#4d90fe !important;
    border-left-color:#0362fd !important;
}
.ver-inline-menu li.active i{
    background:#0362fd !important;
}
.ver-inline-menu li.active:after{
    border-left-color:#4d90fe !important;
}


li.dropdown.user .dropdown-toggle {
    overflow:hidden;
}
li.dropdown.user .dropdown-toggle span{
    float:left;
    margin-right:5px;
}
/*.username, .spanBusinessUnit {
    display:block;
    overflow:hidden;
}
.username{
   line-height:12px !important;
}*/
.spanBusinessUnit{
    color:#4d90fe;
    line-height:15px !important;
}
/*classi per search autocomplete*/
.sidebar-search .k-autocomplete{
    vertical-align: middle;
    border:none !important;
    padding:0px !important;
    box-shadow:none !important;
}
#searchedtextautocomplete-list {
        width:300px !important; 
}
.dropdown-header {
    font-size: 1.2em;
}
.dropdown-header > span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
    border-style: solid;
    border-width: 0 0 1px 1px;
    padding: .3em .6em;
    width: 312px;
}
.dropdown-header > span:first-child {
    width: 82px;
    border-left-width: 0;
}
#searchedtextautocomplete-list .k-item {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color:#cccccc;
    padding:0px;
    margin:0px;
}
#searchedtextautocomplete-list .k-item div {
    cursor: pointer;
}
#searchedtextautocomplete-list .k-item div > span{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    border-style: solid;
    border-width: 0 0 0 1px;
    vertical-align: top;
    width: 79%;
    padding: .6em 0 0 .6em;
    border-color:#dcdcdc;
}
#searchedtextautocomplete-list .k-item.k-state-hover span.colorBlue {
    color:black !important;
}
#searchedtextautocomplete-list .k-item div > span:first-child{
    width: 30px;
    padding: .6em 0 0 .6em;
    height:70px;
}
.switchColorDarkGrey {
     border-left:3px solid #595959 !important;
}
.switchColorBlue {
     border-left:3px solid #4d90fe !important;
}
.switchColorGrey {
     border-left:3px solid #808080 !important;
}
.switchColorlightkGrey {
     border-left:3px solid #dcdcdc !important;
}
#searchedtextautocomplete-list span.menuItemFound {
    font-size: 1.6em;
    margin: 0;
    padding: 0;
    font-weight: 300;
    line-height:30px;
}
#searchedtextautocomplete-list p {
    margin: 0;
    padding: 0;
}
.sidebar-search span.k-loading {
    background-image:url("/Magic/Styles/kendo_ilos_images/loading_search.gif") !important;
}

.page-content .page-breadcrumb.breadcrumb .dashboard-date-range {
margin-right: 60px;
background-color:#bfcad1;
}

/* classi per compatibilità webarch - kendo*/
#searchedtextautocomplete,
.modal-content .k-widget > span > input,
.k-window .k-widget > span > input,
.k-textbox input,
textarea.k-textbox,
textarea.k-textbox:hover,
.k-autocomplete > input,
.k-textbox > input,
.k-multiselect-wrap{
    min-height:25px !important;
}
input.k-textbox:hover,
input.k-textbox{
    min-height:27px !important;
}
.iconset.top-search,
.header .search-form{
    top:0px;
}
.labelFiltraEventiPerTipologia label {
    display:inline-block;
}

.popover-content
{
    overflow-y:scroll;
    max-height:400px;
}


/* classi per webarch chat*/
.chat-header .k-autocomplete.k-state-default {
    background-color:#22262e;
    border-color:#22262e;
    padding:0px;
    margin-top:15px;
    margin-left:14px;
}
.chat-header .k-autocomplete {
    width:auto;
}
.chat-header input#chat_contact_search {
    margin:0px;
}
#chat_status_message {
    margin-left:14px;
    margin-right:0px;
    padding-left:4px !important;
    width:234px;
    background-color:#6f7b8a;
    color:white !important;
}
.chat-header {
    position:relative;
}

/* notifiche */

.chat-toggler .noti p {
    width: auto !important;
    padding: 5px 10px !important;
}

.chat-toggler .noti h3 {
    width: 195px !important;
}

#chat-menu-toggle .fa-comments-o{
    position: relative;
}

#chat-menu-toggle .fa-comments-o .badge{
    position: absolute;
    top: 0;
    right: -3px;
}

/* schema forms style fixes */

.bend .checkbox label{
    padding-left: 0;
    margin-right: 0;
}
.bend .checkbox input {
    margin: 5px calc(55% + 33px) 0 0;
}
