.uneditable-input, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
{
    padding: 0px 0px !important;
}

div[id*='ReportViewer'] {
	margin-top : 10px;
}

div[id*='ReportViewer']   input.aspNetDisabled
{    
    width: 200px; 
	height: 15px;    
	border-bottom: 6px solid #E7E4D5;
	background-color: white;
}

div[id*='ReportViewer'] input[id*='CurrentPage'] {
	width: 20px;
	height: 15px;
	border-bottom: 6px solid #E7E4D5;
	background-color: white;
}
body
{
    font-family:'Raleway-Medium';
}

.header .chat-toggler a {
  color: #1b1e24;
  font-size: 12px;
  display: inline-block;
  float: left;
}

/*aggiunto per modifica su header dati riguardanti notifiche e dati profilo*/
.header .chat-toggler {
    min-width: 0;
}
.quicklinks div.iconset {
    display:initial;
    padding-left:17px;
    float:right;
    margin-left:5px;
}
.profile-pic {
    float:left;
    margin: -9px 8px 0 0;
    border-radius: 100px;
    overflow: hidden;
}
.header .nav > li.quicklinks > a {
    padding-top: 0px !important;
}
#user-options {
     padding-top:4px !important;
}
/*aggiunto per modifica su header dati riguardanti notifiche e dati profilo*/

.tiles.added-margin {
    margin-right: 0px !important;
}

.user-info-wrapper .user-info .username {
    font-size: 15px !important;
}


#friends-list .side-widget-title:not(.collapsed) {
    color: white;
}

/*---Personal Data*/

.personal-data-form .checkbox label:before{
    content: none;
}

.personal-data-form input[type=checkbox]{
    display: block;
    margin-top: 4px;
}

.personal-data-form .has-feedback{
    position: relative;
}

form .has-feedback .form-control-feedback {
  top: 25px;
}

form .has-feedback .k-numerictextbox + .form-control-feedback {
    margin-right: 32px;
    top: 29px;
}

.modal form .has-feedback .form-control-feedback {
  top: 0px;
}

.personal-data-form .col-xs-6 div.checkbox{
  height: 82px;
  padding-top: 29px;
}

/*---Tag Cloud*/

.tagbox{
    position:relative;
}
.tagbox > button{
    position:absolute;
    bottom: 16px;
    right: -49px;
    width: 50px;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0 !important;
}
.bootstrap-tagsinput {
    box-sizing: border-box;
}

/*---Edit popup datepicker fix*/

.k-popup-edit-form .k-datepicker input[type=text]{
    min-height:24px;
}

.breadcrumb {
    margin-bottom: 10px !important;
}

ul.breadcrumb > li {
  padding-left: 0px;
}

.breadcrumb li{
    font-size: 14px;
}

.breadcrumb li:last-of-type{
    font-weight: bold;
}

.breadcrumb > li + li:before {
    padding: 0 15px;
}

/*---Wenbarch dropdown fix on opened chat*/

body[style*="right: 260px"] .k-animation-container{
    margin-left: 258px !important;
}
body[style*="right: 260px"] .k-animation-container > .k-notification{
    margin-left: -258px !important;
}

#sidemenu li > a > i {
    color: inherit;
}

.chat-messages-header{
    position: fixed;
    z-index: 10;
    top: 0;
    width: 260px;
}
.chat-messages{
    padding-top: 40px;
}

.notification-messages.warning{
    background-color: #fffcee;
}
.notification-messages.warning:hover{
    background-color: #f7f0da;
}
.notification-messages.warning .iconholder i,
.notification-messages.success .iconholder i,
.notification-messages.info .iconholder i {
    color: #8b91a0;
}
.notification-messages.unread .message-wrapper .description{
    font-weight: bold;
}
.notification-messages.info:hover{
    cursor: auto !important;
}
.notification-messages.unread:hover{
    cursor: pointer !important;
}

/*---Responive fixes*/

#sidr{
    z-index: 9999;
}

@media (max-width: 767px){
    .header{
        position: relative;
    }
    .page-content .content{
        padding-top: 0 !important;
    }
    #moveToTheLeft2{
        display: inline-block;
        float: right;
    }
    .page-title h3 span{
        display: none;
    }
}
@media only screen and (max-device-width: 1024px) and (min-device-width: 769px) and (orientation: portrait){
    .header-seperation {
        position: inherit;
    }
}

@media only screen and (max-width: 768px) {
    #ifmobile__ {
        width: 20px!important;
        background-color:white;
    }
    ul.breadcrumb, #logo, .user-details {
        display: none !important;
    }
    div.grid.simple {
        background-color:white;
    }
}

@media (max-width: 480px){
    .page-title h3 {
        width: 76%;
    }
}

/*---Wenbarch 2.8 features*/

.widget-stats {
    padding-left: 0;
    display: inline-block;
}
.widget-stats .wrapper {
    margin: 5px 0 5px 0;
    border-right: 1px solid #363a41;
    margin-right: 7px;
    padding-right: 7px;
}
.widget-stats .wrapper.transparent {
    border-right: 1px solid rgba(0,0,0,0.2);
}
.widget-stats .wrapper.last {
    border: 0;
}
.widget-stats .item-title {
    font-size: 12px;
}
.widget-stats .item-count {
    font-size: 15px;
    color: #fff;
    display: block;
    font-weight: bold;
}

#ContentPlaceHolder1_dashboardTabs > .tab-content{
    background: none;
}
    #ContentPlaceHolder1_dashboardTabs > .tab-content [data-content] .grid-view-btn,
    #ContentPlaceHolder1_dashboardTabs > .tab-content [data-content] *:not(.k-grid-toolbar) .btn-group .btn-group.pull-right,
    #ContentPlaceHolder1_dashboardTabs > .tab-content [data-content] .rangePicker {
        padding: 14px 15px 0 0;
    }
#ContentPlaceHolder1_dashboardTabs > .tab-content [data-content] .grid-title h4{
    width: auto;
}

@media (min-width: 1600px) {
  .visible-xlg {
    display: block !important;
  }
  .hidden-xlg {
    display: none !important;
  }
  .container {
    width: 1170px;
  }
  .col-vlg-1,
  .col-vlg-2,
  .col-vlg-3,
  .col-vlg-4,
  .col-vlg-5,
  .col-vlg-6,
  .col-vlg-7,
  .col-vlg-8,
  .col-vlg-9,
  .col-vlg-10,
  .col-vlg-11 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-vlg-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-vlg-11 {
    width: 91.66666666666666%;
  }
  .col-vlg-10 {
    width: 83.33333333333334%;
  }
  .col-vlg-9 {
    width: 75%;
  }
  .col-vlg-8 {
    width: 66.66666666666666%;
  }
  .col-vlg-7 {
    width: 58.333333333333336%;
  }
  .col-vlg-6 {
    width: 50%;
  }
  .col-vlg-5 {
    width: 41.66666666666667%;
  }
  .col-vlg-4 {
    width: 33.33333333333333%;
  }
  .col-vlg-3 {
    width: 25%;
  }
  .col-vlg-2 {
    width: 16.666666666666664%;
  }
  .col-vlg-1 {
    width: 8.333333333333332%;
  }
  .col-vlg-pull-12 {
    right: 100%;
  }
  .col-vlg-pull-11 {
    right: 91.66666666666666%;
  }
  .col-vlg-pull-10 {
    right: 83.33333333333334%;
  }
  .col-vlg-pull-9 {
    right: 75%;
  }
  .col-vlg-pull-8 {
    right: 66.66666666666666%;
  }
  .col-vlg-pull-7 {
    right: 58.333333333333336%;
  }
  .col-vlg-pull-6 {
    right: 50%;
  }
  .col-vlg-pull-5 {
    right: 41.66666666666667%;
  }
  .col-vlg-pull-4 {
    right: 33.33333333333333%;
  }
  .col-vlg-pull-3 {
    right: 25%;
  }
  .col-vlg-pull-2 {
    right: 16.666666666666664%;
  }
  .col-vlg-pull-1 {
    right: 8.333333333333332%;
  }
  .col-vlg-pull-0 {
    right: 0;
  }
  .col-vlg-push-12 {
    left: 100%;
  }
  .col-vlg-push-11 {
    left: 91.66666666666666%;
  }
  .col-vlg-push-10 {
    left: 83.33333333333334%;
  }
  .col-vlg-push-9 {
    left: 75%;
  }
  .col-vlg-push-8 {
    left: 66.66666666666666%;
  }
  .col-vlg-push-7 {
    left: 58.333333333333336%;
  }
  .col-vlg-push-6 {
    left: 50%;
  }
  .col-vlg-push-5 {
    left: 41.66666666666667%;
  }
  .col-vlg-push-4 {
    left: 33.33333333333333%;
  }
  .col-vlg-push-3 {
    left: 25%;
  }
  .col-vlg-push-2 {
    left: 16.666666666666664%;
  }
  .col-vlg-push-1 {
    left: 8.333333333333332%;
  }
  .col-vlg-push-0 {
    left: 0;
  }
  .col-vlg-offset-12 {
    margin-left: 100%;
  }
  .col-vlg-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .col-vlg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-vlg-offset-9 {
    margin-left: 75%;
  }
  .col-vlg-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-vlg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-vlg-offset-6 {
    margin-left: 50%;
  }
  .col-vlg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-vlg-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-vlg-offset-3 {
    margin-left: 25%;
  }
  .col-vlg-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-vlg-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-vlg-offset-0 {
    margin-left: 0;
  }
}

#aggregation-options label{
    display: initial;
}

#aggregation-options input[type=number]{
    min-height: initial;
}

.bend .nav-tabs{
    background-color: #d9ecf5;
}

/*DASHBOARD INDICATOR ICON*/
.tiles .controller  a.fa{
    background: none!important;
    height: 10px;
    top: -5px;
    width: 12px;
    color:darkslategray;
}
.tiles .controller  a.fa:hover{
    background: none!important;
    height: 10px;
    top: -5px;
    width: 12px;
    color:white;
}
/*RESTYLING 06-2016*/
.page-sidebar,
h3 small, 
h4 small, 
h5 small, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
.chat-window-wrapper, 
.inner-menu, 
.page-title, 
.page-title .actions, 
.page-content .breadcrumb, 
input,
button,
select,
textarea,
.uneditable-input,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.tiles .tiles-title,
.tiles .heading,
.notification-messages,
.label,
.badge,
.error-body,
.error-container,
.cbp_tmtimeline > li .cbp_tmtime,
.page-sidebar,
#srccontact {
        font-family:'Raleway';
}
h3#spanbig {
    font-family:'Raleway-ExtraLight';
    font-size:34px;
    color:#000000;
    font-weight:300;
    }
.page-title i {
    color:#000000;
    }
.tiles.white .tiles-title {
     color:#000000;
     text-transform:uppercase;
     font-size:23px;
}
.notification-messages .message-wrapper .heading {
    font-family:'Raleway-Bold';
    color:#000000;
}
.notification-messages .message-wrapper .description {
     /*font-family:'Raleway-SemiBold';*/
    font-size:13px;
    color:#000000;
}
a {
    color:#0090d9;
}
.page-content .breadcrumb a, .page-content .breadcrumb i, .page-content .breadcrumb span, .page-content .breadcrumb li {
    color:#000000;
}
span#spansmall {
    font-size:19px;
    color:#000000;
    font-weight:600;
    }
.input-prepend.inside.no-boarder .add-on:first-child, .input-prepend.no-boarder .btn:first-child {
    display:none;
}
#ricercaTop {
    padding-left:10px;
}
.user-info-wrapper .profile-wrapper {
    float:none;
    margin-bottom:10px;
}
.m-t-20 {
    margin-top:10px;
}
.progress {
    margin-bottom:15px;
}
.status-icon.green {
    background-position: -33px -1px;
    width: 14px;
    height: 14px;
}
.progress-bar-success {
    background-color: #4593e2;
    background-image: none;
}
.page-sidebar > ul > li > ul.sub-menu > li.active > a,
.page-sidebar > ul > li > ul.sub-menu > li > a:hover {
    background: #4593e2 !important;
}
.page-sidebar > ul > li > ul > li > ul.sub-menu > li.active > a,
.page-sidebar > ul > li > ul > li > ul.sub-menu > li > a:hover {
    background: #4593e2 !important;
}

.page-sidebar > ul > li > ul.sub-menu > li > a > i {
    padding-top:3px;
}
.page-sidebar ul > li > a > .arrow:before,
.page-sidebar > ul > li > ul.sub-menu li > a > .arrow:before {
    content: "\f105";
}
#srccontact {
    font-size:13px !important;
}
.quicklinks div.iconset {
    margin-top: 4px;
}
.menu-title {
    display:none;
}
#sidemenu {
    margin-top:35px;
}
.page-sidebar.mini {
    background-color: #1b1e24 !important;
}
.page-sidebar.mini > ul > li >a:hover, .page-sidebar.mini > ul > li:hover >a {
    background: #4593e2;
}
.page-sidebar.mini #profilecompleteness.ng-scope {
    display: none;
}
div.username span.badge {
    border-radius:20px;
    padding-bottom:10px;
    padding-left:8px;
    padding-right:8px;
    padding-top:8px;
    background-color:#4593e2;
    color:#ffffff;
    font-size:14px;
    font-weight:bold;
}
#LoginView1_LoginName2 {
    color:#000000;
    font-size:13px;
}
.spanBusinessUnit {
    text-transform:uppercase;
    color:#65a7dd !important;
    font-weight:600;
}
.rotella {
    margin-left:19px;
}
.header .nav .h-seperate {
    height:23px;
    display:block;
    top:4px;
}
.fumetti {
    position:relative;
}
.fumetti .badge-important {
    background-color: #face23;
    color: #282828;
    position: absolute;
    left:16px;
    top:-10px;
    font-size:14px;
    padding-left:7px;
    padding-top: 2px;
    padding-right: 7px;
}
.grid-title h4 {
    font-size:13px;
    color:#000000;
}
.grid-title h4 .semi-bold {
    font-family: 'Raleway-ExtraBold';
}
.popover, .popover-title {
    background-color:#c5ddf5;
}
.popover.bottom .arrow:after {
    border-bottom-color:#c5ddf5;
}
.popover-title .pull-right {
     background-color: #face23;
     font-family:'Raleway'
}
.notification-messages .date {
    font-style:normal;
    opacity:unset;
}
.notification-messages {
    margin-bottom:6px;
}
.col-md-4 .tiles .tiles-title {
    font-family: 'Raleway-ExtraBold';
    font-size:16px;
}
.tiles .description .mini-description {
        font-size: 12px;
}
.tiles .description .mini-description .ng-scope {
        font-size: 15px;
        font-weight:bold;
}
.indicator-no-link {
        font-size: 15px;
        font-weight:normal!important;
}

.chat-window-wrapper input[type="text"], .chat-window-wrapper input[type="password"], .chat-window-wrapper input[type="date"], .chat-window-wrapper input[type="datetime"], .chat-window-wrapper input[type="email"], .chat-window-wrapper input[type="number"], .chat-window-wrapper input[type="search"], .chat-window-wrapper input[type="tel"], .chat-window-wrapper input[type="time"], .chat-window-wrapper input[type="url"], .chat-window-wrapper textarea, .chat-window-wrapper select {
    background-color: #464646;
    height:33px;
    width:232px !important;
    min-height:33px;
}
#chat_contact_search {
      color:white;
}
 #chat_contact_search::-webkit-input-placeholder {
   color: #9e9e9e;
}
 #chat_contact_search:-moz-placeholder { /* Firefox 18- */
   color: #9e9e9e;  
}
 #chat_contact_search::-moz-placeholder {  /* Firefox 19+ */
   color: #9e9e9e;  
}
 #chat_contact_search:-ms-input-placeholder {  
   color: #9e9e9e;  
}
#chat_contact_search-list .k-item div > span:first-child {
    width:100%;
    padding-top:6px;
    padding-bottom:7px;
    padding-left:0px;
    padding-right:0px;
}
#chat_contact_search-list .k-item div > span {
    min-height:unset;
}
.chat-window-wrapper .side-widget-title {
    font-family: 'Raleway-Light';
    font-size:19px;
    padding:0px;
    padding-bottom:3px;
    margin-left:16px;
    margin-right:16px;
    font-weight:normal;
    border-bottom:3px solid #4593e2;
    margin-bottom:15px;
}

.chat-window-wrapper .side-widget-title:after{
    font: normal normal normal 14px/2 FontAwesome;
    content: "\f078";
    float: right;
}
.chat-window-wrapper .side-widget-title.collapsed:after {
    content: "\f053";
}

.chat-window-wrapper .user-details-wrapper {
    margin:0px;
    border:0px;
    width:100%;
    padding:0px;
    padding-left:16px;
    padding-right:16px;
    border-radius:unset;
    padding-top:10px;
    padding-bottom:10px;
}
.chat-window-wrapper .user-details-wrapper:hover {
    background-color:#3b3f43;
}
.chat-window-wrapper .user-details-wrapper > .user-details > .user-name {
    max-width:120px;
}
.name {
    color:white;
}
.chat-input-wrapper {
    width:100%;
    padding: 7px;
}
.chat-input-wrapper textarea {
    height: 47px;
    padding:3px;
    color:white;
    border:10px solid #464646;
    width: 210px !important;
    display:block !important;
    margin-right: 10px;
}
.chat-input-wrapper #chatAddFile {
    float:none !important;
    display:block !important;
    margin-top:10px;
    background-color:#face23;
    border-radius:3px;
    border:0px;
}
.bubble {
    width:165px;
    background-color:#9e9e9e;
}
.chat-messages-header {
    padding-left:16px;
}
.bubble.sender {
    background-color:white;
    color:#000000;
}
.bubble.sender:after {
    border-color:transparent white;
}
.bubble:after {
    border-color:transparent #9e9e9e;
}
.chat-window-wrapper .chat-messages .user-details-wrapper {
    padding-left:16px;
    padding-right:16px;
}

.favorites.dropdown .dropdown-menu i{
    margin-top: 2px;
    padding: 4px 7px;
}
.notification-messages .message-wrapper .description {
    float: none;
    white-space: inherit;
    overflow: inherit;
    text-overflow: inherit;
    word-break: inherit;
}

#mf_moduleDescription {
    color: white;
    cursor: pointer;
    font-size:12px;
}

.application-prime_Schriftart .header .header-seperation {
    /*background-color: #1b1e24;*/
}

/* top menu */

@media only screen and (min-width: 769px) {
    .top-menu body {
        background-color: inherit;
    }
    .top-menu .page-sidebar {
        float: none;
        width: calc(100% - 700px);
        margin-top: 0;
        z-index: 1000;
        margin: 0 350px;
        display: block;
        background-color: inherit !important;
        height: auto !important;
    }

    .top-menu .user-info-wrapper {
        display: none;
    }

    .top-menu .page-content {
        margin-left: 0;
    }

    .top-menu .page-content .content {
        padding-top: 23px;
    }

    .top-menu .header-seperation,
    .top-menu .pull-left > .quick-section .quicklinks,
    .top-menu .page-sidebar > ul > li > a > .arrow,
    .top-menu .page-sidebar > ul > li > a > .selected {
        display: none;
    }

    .top-menu .menu-title {
        padding: 0;
        text-align: center;
        color: black !important;
        margin-bottom: 6px;
    }

    .top-menu #sidemenu {
        margin: 0 auto;
        width: auto;
        padding: 0;
    }

    .top-menu .page-sidebar > ul > li > a {
        color: inherit;
    }

    .top-menu .page-sidebar > ul > li.active > a,
    .top-menu .page-sidebar > ul > li.open > a,
    .top-menu .page-sidebar > ul > li:hover > a,
    .top-menu .page-sidebar > ul > li > a:hover
    .top-menu .page-sidebar.mini > ul > li.active > a i,
    .top-menu .page-sidebar > ul > li:hover > a i {
        color: black !important;
        background-color: inherit;
    }

    .top-menu .page-sidebar > ul > li {
        float: left;
    }

    .top-menu .page-sidebar > ul > li > a {
        padding: 7px 12px 8px;
    }

    .top-menu .page-sidebar > ul > li > .sub-menu {
        position: absolute;
        z-index: 10000;
    }
    .actionaccordion {
        max-height:300px;
        overflow-y:auto;
    }
}

