<div id="grid"/><br>
<div id="treecontainer" class="k-content" style="background-color: transparent;">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div id="complistheader" class="k-header k-shadow" style="height: 30px;">Componenti</div>
            <div class="k-block" style="overflow-y:scroll;">
                <div class="portlet-body to-do-list">
                    <div class="input-group" style="display: none;">
                          <span class="input-group-addon">
                            <i class="k-icon k-i-search"></i>
                        </span>
                        <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;">
                            <input type="text" class="form-control tt-hint" disabled="" autocomplete="off" spellcheck="false" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; background-attachment: scroll; background-clip: border-box; background-color: rgb(255, 255, 255); background-image: none; background-origin: padding-box; background-size: auto; background-position: 0% 0%; background-repeat: repeat repeat;">
                            <input type="text" id="treesearch" name="treesearch" class="form-control tt-input" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;">
                            <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: \'Open Sans\', sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
                            <span class="tt-dropdown-menu" style="position: absolute; top: 100%; z-index: 100; display: none; left: 0; right: auto;">
                                <div class="tt-dataset-0"></div>
                            </span>
                        </span>
                    </div>
                    <div id="treeview-left-container" class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                        <div id="treeview-left"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
                        <ul class="nav nav-pills">
                            <li role="presentation" class="active"><a data-toggle="tab" href="#assoccomponenti">Associa componenti</a></li>
                            <li role="presentation"><a href="#statomanutentivo" data-toggle="tab">Stato manutentivo</a></li>
                            <li role="presentation"><a data-toggle="tab" href="#interventiprg">Programmazione interventi</a></li>
                        </ul>
                        <div class="tab-content" style="background-color:transparent;">
                            <div id="assoccomponenti" class="tab-pane fade active in">
                            </div>
                            <div id="statomanutentivo" class="tab-pane fade">
                            </div>
                            <div id="interventiprg" class="tab-pane fade">
                            </div>
                        </div>
        </div>
    </div>
</div>
