<div id="grid" class="windowmanager"></div>
<div class="row" style="height:10px;"></div>
<!--<div id="treecontainer" class="k-content windowmanager" style="background-color: transparent;z-index:2;">-->
<div class="row windowmanager">
    <div class="col-md-6 col-sm-6">
        <div class="k-block" style="overflow-y:scroll;">
            <div class="k-header k-shadow translate" style="height:30px;">
                -#Struttura#-
                <!---->
                    <a href="javascript:;" onclick="undoselection();" class="k-button translate" style="background-color: transparent !important;margin-top: 3px;padding-top: 0;padding-bottom: 0;float:right; ">
                    <i class="k-icon k-si-cancel"></i>-#Annulla#-
                </a>
                <!---->
            </div>
            <div class="portlet-body to-do-list">
                <div id="treeview-left-container" class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                    <br>
                    <div id="treeview-left"></div>
                </div>
            </div>
        </div>
    </div>
    <!--Vecchia posizione della mappa-->
</div>
<!--</div>-->
<div id="assetinsertupdatedatawindow" class="k-popup-edit-form k-window-content k-content">
    <div class="derivativeassetgrid"></div>
</div>