<div id="grid" /><br>
<div id="treecontainer" class="k-content" style="background-color: transparent;">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="k-block" style="overflow-y:scroll;">
                <div id="complistheader" class="k-header k-shadow" style="height: 30px;">Struttura
                </div>
                <div class="portlet-body to-do-list">
                    <div id="treeview-left-container" class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                        <div id="treeview-left"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
              <div class="k-block" style="overflow-y:scroll;">
                <div id="Div1" class="k-header k-shadow" style="height: 30px;"> Tipologie
                </div>
                    <div class="portlet-body to-do-list">
                    <div id="Div2" class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                <div id="assclassi"></div>
             </div>
            </div>
           </div>
        </div>
    </div>
</div>
<div id="assetinsertupdatedatawindow" />
