<div class="panel-group" id="group-9b14ec3d-0">
    <div id="default-info__" class="panel panel-primary_r3">
        <div id="heading-info__" class="panel-heading_r3">
        <h4 class="panel-title_r3" id="title-info">
            <a data-toggle="collapse" data-parent="#group-9b14ec3d--0" href="#collapse-9b14ec3d-0" id="container-info__">Info</a>
        </h4>
        </div>
        <div id="collapse-9b14ec3d-0" class="panel-collapse in" style="height: auto;">
            <div id="body-info__" class="panel-body">
                <div id="riga-info__" class="{0}">
                    {1}
                </div>
            </div>
        </div>
    </div>
</div>