<div class="panel-group_r3" id="group-azioni">
        <div class="panel panel-primary_r3" id="primary-azioni">
            <div class="panel-heading_r3" id="heading-azioni">
                <h3 class="panel-title_r3" id="title-azioni">
                    <a data-toggle="collapse" data-parent="#Group2" href="#collapse-azioni">
                        <i class="short-full-r3 glyphicon glyphicon-minus"></i>
                        <b>test</b>
                    </a>
                </h3>
            </div>
            <div id="collapse-azioni" class="panel-collapse in">
                <div class="panel-body" >
                    {{h.tab}}
                    <reftree-html></reftree-html>
                    <div id="tabAppend"></div>

                </div>
            </div>
        </div>
    </div>
 
