<div ng-show="rgvn.showViewerDetail" id="toolbar-container" ng-if="rgvn.toolBarButton" class="cad-control-buttons-title">
    <span class="span-title-cad" ng-show="rgvn.showViewerDetail">{{rgvn.fileInfo[rgvn.fileInDetail.fileName].description}}</span>
</div>

<div id="toolbar-container" ng-if="rgvn.toolBarButton" class="cad-control-buttons">

    <button ng-if="rgvn.features.closeButton && !rgvn.isGridEditPage"
            title="{{ rgvn.getLabels('close') }}"
            type="button"
            class="btn btn-danger pull-right btn-toolbar-cad-r3"
            ng-click="rgvn.closeViewer($event)">
        <i class="fa fa-times" aria-hidden="true"></i>
        <span class="span-title-button-cad">{{ rgvn.getLabels('close') }}</span>
    </button>
</div>
