<?xml version="1.0" encoding="utf-8" ?>
<Application>
  <appId>1</appId>
  <applicationDomain>example.com</applicationDomain>
  <applicationName>MagicSolution</applicationName>
  <appInfo>
    <author>ILOS S.R.L</author>
    <link>http://www.ilosgroup.com</link>
  </appInfo>
  <!--<Redirects>
    <Redirect>
      <label>Ref2Space</label>
      <url>http://www.sepp.com</url>
    </Redirect>
  </Redirects>-->
  <listOfInstances>
    <ApplicationInstanceConfiguration>
      <appInstancename>MagicSolution</appInstancename>
	  <!--<TwoFactorAuthTool>GoogleAuthenticator</TwoFactorAuthTool>-->
      <appLogo></appLogo>
      <appEmail>example@ilosgroup.com</appEmail>
      <appMainURL>dashboard-v2</appMainURL>
      <id>0</id>
      <dbtype>SqlServer</dbtype>
      <appTitle>:: Magic Solution ::</appTitle>
      <appLeftTitle>Magic</appLeftTitle>
      <appRightTitle>Solution</appRightTitle>
      <LoginBGS>
        <LoginBG>/Magic/HtmlTemplates/metronic_v3.1.3/assets/admin/pages/media/bg/1.jpg</LoginBG>
        <LoginBG>/Magic/HtmlTemplates/metronic_v3.1.3/assets/admin/pages/media/bg/2.jpg</LoginBG>
        <LoginBG>/Magic/HtmlTemplates/metronic_v3.1.3/assets/admin/pages/media/bg/3.jpg</LoginBG>
        <LoginBG>/Magic/HtmlTemplates/metronic_v3.1.3/assets/admin/pages/media/bg/4.jpg</LoginBG>
      </LoginBGS>
      <showDashBoardOnMenu>true</showDashBoardOnMenu>
      <showChangeUserGroup>true</showChangeUserGroup>
      <showChangeAppAreas>false</showChangeAppAreas>
      <AppAreasOverrideLabelKey>modulechange</AppAreasOverrideLabelKey>
      <UserGroupOverrideLabelKey>visibilitychange</UserGroupOverrideLabelKey>
      <MasterPage>~/WebArch.Master</MasterPage>
      <MagicDBConnectionString>Data Source=10.8.1.27;Initial Catalog=MagicDB;Persist Security Info=True;User ID=sa;Password=password</MagicDBConnectionString>
      <TargetDBconn>Data Source=10.8.1.27;Initial Catalog=MagicDB;Persist Security Info=True;User ID=sa;Password=password</TargetDBconn>
      <registrationEntityConnectionString>metadata=res://*/Data.Target.csdl|res://*/Data.Target.ssdl|res://*/Data.Target.msl;provider=System.Data.SqlClient;provider connection string="data source=10.8.1.27;initial catalog=MagicDB;persist security info=True;user id=sa;password=password;MultipleActiveResultSets=True;App=EntityFramework"</registrationEntityConnectionString>
      <!--<TargetEntityFrameworkDBconn>metadata=res://*/Data.ConfigMF.csdl|res://*/Data.ConfigMF.ssdl|res://*/Data.ConfigMF.msl;provider=System.Data.SqlClient;provider connection string='data source=10.8.1.27;initial catalog=MagicDB;persist security info=True;user id=sa;password=password;multipleactiveresultsets=True;application name=EntityFramework'</TargetEntityFrameworkDBconn>-->
      <generategenericdatasource>true</generategenericdatasource>
      <customJSONparameter>{ export:{ Type:&quot;StoredProcedure&quot;,DataFormat:&quot;JSON&quot;, Definition:&quot;dbo.Magic_Commands_usp_exp_stmt&quot;}, read:{ Type:&quot;StoredProcedure&quot;, Definition:&quot;dbo.Magic_XMLCommands_usp_sel_stmt&quot;}, update: {Type:&quot;StoredProcedure&quot;, DataFormat:&quot;JSON&quot; ,Definition:&quot;dbo.Magic_Cmnds_ins_upd_del_stmt&quot;}, create: { Type:&quot;StoredProcedure&quot;, DataFormat:&quot;JSON&quot; ,Definition:&quot;dbo.Magic_Cmnds_ins_upd_del_stmt&quot;}, destroy: { Type:&quot;StoredProcedure&quot;, DataFormat:&quot;JSON&quot; ,Definition:&quot;dbo.Magic_Cmnds_ins_upd_del_stmt&quot;}}</customJSONparameter>
      <groupVisibilityField>UserGroupVisibility_ID</groupVisibilityField>
      <attributesGroupListField>GROUPS_LIST</attributesGroupListField>
      <businessObjectsVisibilitySolverFunction>(core.usf_bo_to_include({0},{1},{2})=1)</businessObjectsVisibilitySolverFunction>
      <WorkonSystemSettings>false</WorkonSystemSettings>
      <compressinputparameterstoXML>true</compressinputparameterstoXML>
      <directorylog>C:\temp\MagicSolution_App\</directorylog>
      <mailAttachmentUploadDirectory>/UploadedMailAttachments</mailAttachmentUploadDirectory>
      <mailActive>false</mailActive>
      <defaultSendMail>name,example@ilosgroup.com,smtp.gmail.com,password,true,587</defaultSendMail>
      <!--<GoogleCalendarConfig>
	  </GoogleCalendarConfig
      <GoogleCalenderOAuthConfig>
      </GoogleCalenderOAuthConfig>>-->
      <ActionSettings>
        <recordActionsStoredProcedure>CUSTOM.GetActions</recordActionsStoredProcedure>
        <recordFunctionGridActionsStoredProcedure>CUSTOM.GetFunctionGridActions</recordFunctionGridActionsStoredProcedure>
      </ActionSettings>
      <dashboardIsCustomizable>true</dashboardIsCustomizable>
      <appLayerId>2</appLayerId>
      <MapSettings>
        <provider>GOOGLE</provider>
        <apiKey>yourGoogleMapsAPIKey</apiKey>
      </MapSettings>
	  <setContextInfo>true</setContextInfo>
      <dBEventsJobActive>false</dBEventsJobActive>
      <mailJobActive>false</mailJobActive>
      <notificationJobActive>false</notificationJobActive>
      <dumpConfigToTargetDB>false</dumpConfigToTargetDB>
      <chatOfflineMail>true</chatOfflineMail>
      <logToDataBase>false</logToDataBase>
	  <MSSQLFileTable>false</MSSQLFileTable>
      <showChangeLog>true</showChangeLog>
      <Rootdirforupload>C:\temp\MagicSolution_App\Files</Rootdirforupload>
  	</ApplicationInstanceConfiguration>
  </listOfInstances>
</Application>
