#jsplumbcontainer {
	margin-top:5em;
}

.w { 	
	padding:16px;
	position:absolute;
	border: 1px solid black;
	z-index:4;
	border-radius:1em;
	border:1px solid #2e6f9a;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:8px;
	border-radius:8px;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor:move;
	background-color:white;
	font-size:11px;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;	
}

.w:hover {
	background-color: #5c96bc;
	color:white;

}

.aLabel {
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
}

.aLabel._jsPlumb_hover, ._jsPlumb_source_hover, ._jsPlumb_target_hover {
	background-color:#1e8151;
	color:white;
}

.aLabel {
	background-color:white;
	opacity:0.8;
	padding:0.3em;				
	border-radius:0.5em;
	border:1px solid #346789;
	cursor:pointer;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.aLabel._jsPlumb_hover {
    max-width: none;
    overflow:inherit; 
}

.ep {
	position:absolute;
	bottom: 37%;
	right: 5px;
	width:1em;
	height:1em;
	background-color:orange;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}

.ep:hover {
	box-shadow: 0px 0px 6px black;
}

.statemachine-demo ._jsPlumb_endpoint {
	z-index:3;
}

.dragHover { border:2px solid orange; }

path { cursor:pointer; }

/** DISABLE TEXT SELECTION (SET ON BODY WHEN DRAGGING IS OCCURRING) *
._jsPlumb_drag_select * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/** OPEN SANS FONT **/
/*@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
 	src:local('Open Sans'), 
 		local('OpenSans'),
 		url("OpenSans-Regular.ttf") format('truetype'),
 		url("OpenSans.woff") format('woff');
}*/

.explanation i {
	float: right;
	margin-right: 25px;
	margin-top: 13px;
	font-size: 25px;
	cursor:pointer;
}

.explanation i:hover {
	color:orange;
}

.words {
  text-align: left;
  padding:50px;
  background-color:white;
}

.code {
  border:1px solid #456;
}



 #mainjsplumb {  
  /*margin-top: 106px;*/  
  font-size: 80%;    
  /*width: 80%;*/
  margin-left:auto;
  margin-right: auto;  
  height: 600px;
  text-align: center;
  position: relative;
  max-width: 1200px;
  max-height: 1000px;
}

.jsplumbcontainer {
  position: relative;
  width:100%;
  background-color:white;    
  overflow:auto;  
  /*margin-top: 53px;*/
  margin-bottom:25px;
  height: 600px;
}

.explanation {
  position: absolute;
  text-align: center;
  background-color: #4d90fe;
  opacity: 0.8;
  filter: alpha(opacity=80);
  color: white;
  width: 100%;
  height: 37px;
  z-index: 10000;
  overflow: hidden;
  box-shadow: 0px 0px 10px gray;
}

.explanation.expanded {
  height:auto;
  min-height:54px;
  -webkit-transition: max-height 0.8s;
  max-height:100%;    
}

.commands {
  margin-bottom:10px;
}

.commands:hover {
  z-index:10000;
}

/** Z-INDEX **/

._jsPlumb_connector { z-index:18; }
._jsPlumb_endpoint { z-index:19; }
._jsPlumb_overlay { z-index:20; }

.aLabel {
  background-color:white; 
  padding:0.4em; 
  font:12px sans-serif; 
  color:#444;
  z-index:21;
  border:1px dotted gray;
  opacity:0.8;
  filter:alpha(opacity=80);
  cursor: pointer;
}
.aLabel._jsPlumb_hover {
  background-color:#5C96BC;
  color:white;  
  border:1px solid white;
}

