<div class="row">
    <magic-action-menu options="[{
                                   'label':'Assets',
                                   'id':1,
                                   'btns': [{ 'id':1, 'actioncommand':'AS_ASSET_Asset','actiontype':'SHOGD','actionfilter':'AS_ASSET_ID','color':'yellow','label':'Show asset..'},
                                            { 'id':2, 'actioncommand':'A696BECD-B5E5-4C63-AEAA-44E31F915F05','actiontype':'RTFUN','label':'Redirect to Suppliers','actionfilter':'AS_ASSET_ID={{ mam.rowData.AS_ASSET_ID }}'},
                                            { 'id':3, 'actioncommand':'AS_ASSET_Asset','actiontype':'EDTGD','actionfilter':'AS_ASSET_ID','color':'yellow','label':'Show asset 2..'}]
                                    }]">
    </magic-action-menu>
</div>
<div class="panel with-nav-tabs panel-default">
    <div class="panel-heading">
        <ul
            ng-init=""
            class="nav nav-tabs">
            <li class="active"><a href="#tab1default" data-toggle="tab">Dati generali</a></li>
            <li
                ng-init="loadContent = {}"
                class="dropdown">
                <a href="#" data-toggle="dropdown">Catasto <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-click="loadContent.two = true"><a href="#tab2default" data-toggle="tab">Urbano</a></li>
                    <li ng-click="loadContent.three = true"><a href="#tab3default" data-toggle="tab">Terreni</a></li>
                </ul>
            </li>
            <li ng-click="loadContent.four = true"><a href="#tab4default" data-toggle="tab">Consistenza</a></li>
            <li ng-click="loadContent.five = true"><a href="#tab5default" data-toggle="tab">Documenti</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane fade active in" id="tab1default">
                <div class="row">
                    <div id="mf_carousel">
                    </div>
                </div>
                <div class="row" style="height:10px;"></div>
                <div class="row">
                    <div class="col-md-6">
                        <magic-form-sp storedprocedure="config.USP_GET_FormData"  formname="MY_FORM" model="foc.MY_FORM_DATA"></magic-form-sp>
                        <button class="btn-primary" ng-click="foc.submitForm('MY_FORM_DATA','CUSTOM.UPDATE_THE_FORMS');">SUMBIT</button>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-6" id="thebeautifulmap"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2default">
                <div ng-if="loadContent.two">
                    <div class="row">
                        <div class="col-md-6">
                            <magic-grid gridname="AS_V_ASSET_idecat_sintesi" filterpk="AS_ASSET_ID"></magic-grid>
                        </div>
                        <div class="col-md-6">
                            <magic-chart chartid="1016" />
                        </div>
                    </div>
                    <div class="row">
                        <magic-grid gridname="AS_VI_IDECAT_PER_ASSET_nceu" filterpk="AS_ASSET_ID"></magic-grid>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab3default">
                <div ng-if="loadContent.three">
                    <div class="row">
                        <div class="col-md-6">
                            <magic-grid gridname="AS_VI_IDECAT_PER_ASSET_nct_GROUP" filterpk="AS_ASSET_ID"></magic-grid>
                        </div>
                        <div class="col-md-6">
                            <magic-chart chartid="1019" />
                        </div>
                    </div>
                    <div class="row">
                        <magic-grid gridname="AS_VI_IDECAT_PER_ASSET_nct" filterpk="AS_ASSET_ID"></magic-grid>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab4default">
                <div ng-if="loadContent.four">
                    <div class="row">
                        <div class="col-md-6">
                            <magic-grid gridname="AS_VI_ALL_ASSET_SCH_GRP" filterpk="AS_ASSET_ID"></magic-grid>
                        </div>
                        <div class="col-md-6">
                            <magic-chart chartid="1020" />
                        </div>
                    </div>
                    <div class="row">
                        <magic-grid gridname="AS_VI_ALL_ASSET_SCH" filterpk="AS_ASSET_ID"></magic-grid>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab5default">
                <div ng-if="loadContent.five">
                    <div class="row">
                        <div class="col-md-6">
                            <magic-grid gridname="DO_VI_ALL_DOCUME_SCH_GRP" filterpk="AS_ASSET_ID"></magic-grid>
                        </div>
                        <div class="col-md-6">
                            <magic-chart chartid="1021" />
                        </div>
                    </div>
                    <div class="row">
                        <magic-grid gridname="DO_VI_ALL_DOCUME_SCH" filterpk="AS_ASSET_ID"></magic-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#wndmodalContainer").addClass("modal-wide");
    var data = $("#appcontainer").data("customItemInfo");
    $("#thebeautifulmap").append('<div><iframe width="600" height="150" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=' + window.mapAK + '&q=' + data.AS_ASSET_ADDRESS + '" ></iframe></div>\
			                        <div><iframe width="600" height="150" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/streetview?key=' + window.mapAK + '&location=' + data.LOCATION_LATITUDE + ',' + data.LOCATION_LONGITUDE + '&heading=210&pitch=10&fov=35" ></iframe></div>');
    //carosello immagini...
    var $content = $("#mf_carousel");
    //must be on first tab...
    $.ajax({    //#mfapireplaced
        type: "POST",
        url: "/api/AS_V_ASSET_assetgroups/GetAsAssetImages",
        data: JSON.stringify({ AS_ASSET_ID: "" + asset_id }),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        error: function (err) { console.log("ERROR while getting AsAssetImages", err) },
    }).then(function (res1)
        {
            var imgs1 = res1.Data[0].Table;
            if (imgs1.length) {
                var docids = [];
                $.each(imgs1, function (index, value) {
                    if (docids.indexOf(value.DO_DOCUME_ID) == -1)
                        docids.push(value.DO_DOCUME_ID)
                });
                $.get("/api/Documentale/GetDocumentPaths?documentIDs=" + docids.join())
                    .then(function (res) {
                        if (res) {
                            res = JSON.parse(res);
                            if (res.length) {
                                var imgs = []; 
                                $.each(imgs1, function (j, v) { 
                                    if (j < 10)
                                    {
                                        $.each(res, function (k, val) {
                                            if (val.DO_DOCUME_ID == v.DO_DOCUME_ID)
                                                path = val.path;
                                        });
                                        imgs.push({
                                            src: "/api/MAGIC_SAVEFILE/GetFile?path=" + path + "\\" + JSON.parse(v.DO_DOCVER_LINK_FILE)[0].name, height: "350px"
                                        });
                                    }
                                });
                                bootstrapAddCarouselTo$el($content, "asset-gallery", imgs);
                            }
                            else
                                $content.html();
                        }

                    });
                }
            })
</script>