#map_container {
    position: absolute;
    top: 150px;
    left: 100px;
    right: 100px;
    bottom: 100px;
}
#mapstore2-embedded, #map, .fill {
    width: 100%;
    height: 100%;
}
.ms2 #navigationBar #locate-btn {
    display: none;
}
#mapstore-getfeatureinfo, #mapstore-map-footer-container, #map-search-bar .input-group-addon {
    display: none;
}