
<div class="row" style="height:20px;"></div>
<div class="row">
	<h3>
		<span class="semi-bold">
			mese corrente
		</span>
	</h3>
	<magic-grid id="grid0" gridname="V_CCOpeWorkingStatisticsPLOGCurr" filter="cd.options.initialFilter" kendo-grid-instance="cd.options.kendoGridInstance"></magic-grid>
	<h3>
		<span class="semi-bold">
			mese precedente
		</span>
	</h3>
	<magic-grid id="grid0" gridname="V_CCOpeWorkingStatisticsPLOG" filter="cd.options.initialFilter" kendo-grid-instance="cd.options.kendoGridInstance"></magic-grid>
</div>
	