<div class="col-md-8">
	<div class="col-xs-4 col-sm-4">
		<label for='MonthPicker'>Mese referente</label>
		<select id="month-drop" kendo-drop-down-list="cd.options.monthDropDown"
				k-data-text-field="'text'"
				k-data-value-field="'value'"
				k-data-source="cd.options.month"
				k-value="cd.options.currentMonth"
				style="width: 100%"></select>
	</div>
	<div class="col-xs-4 col-sm-4">
		<label for='YearPicker'>Anno referente</label>
		<select id="year-drop" kendo-drop-down-list="cd.options.yearsDrop"
				k-data-text-field="'year'"
				k-data-value-field="'year'"
				k-value="cd.options.currentYear"
				k-data-source="cd.options.yearsDS"
				style="width: 100%"></select>
	</div>
</div>
<div class="cold-md-4">
	<div>
		<div class="form-inline row">
			<label>Inserimento file</label>

			<div class="form-group" ng-class="{'has-error': cd.options.uploadError }">
				<input type="file" id="excelupload"
					   ng-model="cd.options.ImportData.files"
					   accept=".xlsx"
					   ng-init="cd.options.initUpload()" />
				<div style="margin: 0;" class="help-block" ng-show="cd.options.uploadError" ng-bind="cd.options.lang.uploadErrorMsg"></div>
			</div>
			<div>
				<button style="margin-left:50px;" class="btn btn-primary" ng-bind="cd.options.lang.eximport" ng-click="cd.options.importExcel()"></button>
			</div>
		</div>
	</div>
	<div style="height:20px"></div>
	<div class="col-md-12">
		<div id="Importlog">
		</div>
	</div>
</div>