<div class="k-edit-label">
    <label for="{7}">{5}</label>
</div>
<div class="k-edit-field">
    <span class="k-textbox k-space-right" style="position:relative !important; padding: 0px !important;">
        <input name="{0}" id="{7}" data-source="{4}" data-value-field="{2}" data-text-field="{3}" data-role="autocomplete" data-filter="contains" {6} style="margin-right: 22px; display: block; width: auto!important; border-width: 0 !important;" />
        <a href="javascript:void(0)" class="k-icon icon-globe" style="font-size: 1em;" onclick="showGeoSearch(this);">&nbsp;</a>
    </span>
</div>
