<div class="k-edit-label">
    <label for="{0}_binder"><a class="searchgriddetail__" onclick="selectCurrentItemFromResearchGrid('{3}','{0}','{4}',this);">{1}</a></label>
</div>
<div class="k-edit-field">
    <span class="k-textbox k-space-right searchgrid" style="position:relative !important; padding: 0 42px 0 0 !important;">
        <input id="{0}_binder" name="{0}" type="text" readonly data-bind="value:{2}" placeholder="N/A" {8} style="border: none;" data-cascade-from="{5}" />
        <a href="javascript:void(0)" class="k-icon k-i-search" onclick="selectItemFromResearchgrid('{3}','{0}','{4}','{5}','{6}','{7}',5,this);">&nbsp;</a>
        <a href="javascript:void(0)" class="k-icon k-i-cancel" onclick="unselectResearchgridValue('{0}',this);">&nbsp;</a>
    </span>
</div>
<div id="{3}_searchgrid" class="gridItemSelector"></div>