<div class="k-edit-label">
    <label for="{0}_binder">{1}</label>
</div>
<div class="k-edit-field">
    <span class="k-textbox k-space-right searchgrid_autocomplete">
        <a class="contact-button" href="javascript:void(0)" onclick="callContactData(this)">
            <i class="fa fa-phone"></i>
            <i class="fa fa-envelope-o"></i>
        </a>
        <input onfocus="openSearchgrid2('{3}', '{0}', '{4}', '{9}', this, '{5}', '{6}', '{7}')" id="{0}_binder" name="{0}" type="text" placeholder="N/A" {8} data-cascade-from="{5}" />
        <a href="javascript:void(0)" class="k-icon k-i-search" onclick="selectItemFromResearchgrid('{3}','{0}','{4}','{5}','{6}','{7}',5,this);">&nbsp;</a>
    </span>
</div>
<div id="{3}_searchgrid" class="gridItemSelector"></div>
