<span class="k-textbox k-space-right searchgrid" style="position:relative !important; padding: 0 42px 0 0 !important;">
    <input value="{1}" onfocus="setInputValueFromColumnModel($(this))" id="{0}_binder" name="{0}" type="text" readonly data-bind="value:{2}" placeholder="N/A" {8} style="border: none;" data-cascade-from="{5}" />
    <a href="javascript:void(0)" class="k-icon k-i-search" onclick="selectItemFromResearchgrid('{3}','{0}','{4}','{5}','{6}','{7}',5,this,null,true);">&nbsp;</a>
    <a href="javascript:void(0)" class="k-icon k-i-cancel" onclick="unselectResearchgridValue('{0}',this,true);">&nbsp;</a>
</span>