<div class="portlet solid bordered light-grey">
    <div class="portlet-title">
        <div class="controller" style="display:none;">
            <a title="Swap with another element" onclick="dshb_swapElements(this);" href="javascript:;" class="fa fa-random"></a>
            <a title="Resize" onclick="dshb_resize(this);" href="javascript:;" class="fa fa-expand"></a>
            <a title="Remove from tab" onclick="dshb_remove(this);" href="javascript:;" class="fa fa-times"></a>
        </div>
        <div class="caption"><i class="{1}"></i>{0}</div>
    </div>
    <div class="portlet-body mfchartcontainer">
        <div class="loader text-center" style="padding: 40px 0 20px;">
            <img src="/magic/htmltemplates/metronic/assets/img/loading.gif" alt="loading" />
        </div>
        <div class="content">
            <div class="chart hidden"></div>
        </div>
    </div>
</div>