<div class="grid simple">
    <div class="grid-title no-border">
        <div class="controller" style="display:none;">
            <a title="Swap with another element" onclick="dshb_swapElements(this);" href="javascript:;" class="fa fa-random"></a>
            <a title="Resize" onclick="dshb_resize(this);" href="javascript:;" class="fa fa-expand"></a>
            <a title="Remove from tab" onclick="dshb_remove(this);" href="javascript:;" class="fa fa-times"></a>
        </div>
        <h4><span>{0}</span></h4>
    </div>
    <div class="grid-body no-border mfchartcontainer">
        <div class="loader text-center" style="padding: 40px 0 20px;"><span class="fa fa-spinner fa-spin fa-3x"></span></div>
        <div class="chart hidden"></div>
    </div>
</div>
